@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.heading {
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 52px;
  color: rgba(26, 32, 44, 1);
}

.para {
  text-align: justify;
  padding: 15px;
  /* width: 500px; */
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.blueBackground {
  background-color: blue;
  border-radius: 20px 0px 0px 20px;
  width: 200px;
  /* margin-right: 50px; */
  height: 400px;
}

hr {
  width: 69px;
  height: 5px;
  border: none;
  background: linear-gradient(to right, rgba(242, 113, 65, 1), rgba(17, 1, 82, 1));
}



/*
.num {
  display: flex;
  justify-content: space-between;
} */
/* body{
      font-family: Arial, sans-serif;
      margin: 0;

} */


/* .heading1 {
      color: #333;
      margin-left: 20px;
      padding-top: -10px;
      margin-bottom: 20px;
  } */
/* .pic{
    float:right;
    width: 33.33%;
    padding-left: 5px;
    margin-top: 60px;
    margin-left: 500px;
    position: absolute;

  } */

/* .num {

      justify-content: space-between;
      padding: 20px;
  }

.num1 {
      width:700px;
      height: 400px;
      border-radius: 20px;
  } */


/* .pic img {
      max-width: 100%;
      border: 1px solid #ddd;
      border-radius: 20px;

  } */

/*


@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

.whychoose{
    font-family: 'Rubik', sans-serif;
}

img{
    width: 100%;
    z-index: 0;
}

.b2b , .b2c, .digitalReceipt {
  width: 25%;
  margin:auto;
  height: auto;
}

.card {
  border-radius: 25px;
}

.card:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}


.symbol{
    width: 50%;
    height: 1px !important;
    margin: auto;
}

* {
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 16px;
    text-align: center;
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
  } */
