@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.heading {
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 52px;
  color: rgba(26, 32, 44, 1);
}

.para {
  padding: 15px;
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.blueBackground {
  background-color: blue;
  border-radius: 20px 0px 0px 20px;
  width: 260px;
  height: 500px;
  position: absolute;
  right: 0;
  z-index: 0;
  margin:0;
}

hr {
  width: 69px;
  height: 5px;
  border: none;
  background: linear-gradient(to right, rgba(242, 113, 65, 1), rgba(17, 1, 82, 1));
}

.video-container {
  position: relative;
  width: 450px;
  height: 320px;
  padding-bottom: 56.25%;
  margin: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frame {
  border-radius: 10px;
  width: 450px !important;
  height:320px !important;
}

@media (min-width: 1443px) and (max-width: 1571px) {
  .blueBackground {
    height: 525px;
  }
}
@media (min-width: 1300px) and (max-width: 1443px) {
  .blueBackground {
    height: 560px;
  }
}
@media (min-width: 1283px) and (max-width: 1300px) {
  .blueBackground {
    height: 580px;
  }
}
@media (min-width: 1192px) and (max-width: 1283px) {
  .blueBackground {
    height: 590px;
  }
}
@media (min-width: 1121px) and (max-width: 1191px) {
  .blueBackground {
    height: 620px;
  }
}
@media (min-width: 1118px) and (max-width: 1121px) {
  .blueBackground {
    height: 685px;
  }
}
@media (min-width: 991px) and (max-width: 1118px) {
  .blueBackground {
    height: 720px;
  }
}
@media (min-width: 991px) and (max-width: 1058px) {
  .blueBackground {
    height: 750px;
  }
}
@media screen and (max-width: 991px) {
  .blueBackground {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 500px) {
  .video-container {
    width: 320px;
    height: 270px;
  }
  .frame {
    width: 320px !important;
    height:270px !important;
  }
}
