<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Food And Beverages</h1>
              <h5>
                Food and beverage ERP systems streamline production, inventory, and distribution processes, ensuring efficient operations and compliance with industry regulations.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Dynamic Processes</h3>
          <p class="text-justify mb-3 f-15">
            ERP solutions in the food and beverage sector provide real-time visibility into inventory levels, helping businesses optimize stock levels, reduce wastage, and ensure timely production to meet customer demands.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/food-1.jpg" alt="Food" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Essential Tools</h3>
          <p class="text-justify mb-3 f-15">
            Food and beverage ERP systems are essential tools for businesses in this industry to maintain operational efficiency, respond to market demands, and uphold the highest standards of product quality and safety.
          </p>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/food-2.jpg" alt="Food" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>

