@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.mainContainer {
  /* background-color: rgba(17, 1, 82, 1); */
  background-color: #2F2BEC;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 500px;
  /* height: 500px; */
  color: white;
}

.heading {
  font-family: 'Caveat Brush', cursive;
  font-size: 36px;
  font-weight: 500;
  margin-left: 5%;
  padding: 4% 0%;
}

/* span {
color:rgba(188, 188, 188, 1);
} */

/* .row {
  height:250px;
} */

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.addressLeft {
  padding:0 0 30px 224px;
}

.mobileMiddle {
  padding:0 0 12px 100px;
}

.follow {
  padding: 0 0 0 70px;
}

/* .links {
  background-color: black;
  border-radius: 10%;
} */

@media (min-width: 1350px) and (max-width: 3000px) {
  /* .mainContainer {
    height: 700px;
  } */
}

@media (min-width: 991px) and (max-width: 1250px) {
  .addressLeft {
    padding:0 0 12px 30px;
  }

  .mobileMiddle {
    padding:0 0 12px 30px;
  }

  .follow {
    padding: 0 0 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    font-size: 36px;
    font-weight: 500;
    margin-left: 27%;
    /* padding: 4% 0%; */
  }

  .mainContainer {
    height: 600px;
  }

}


@media (min-width: 500px) and (max-width: 768px) {

  .mainContainer {
    height: 800px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addressLeft {
    padding:30px 0 0 0;
  }

  .mobileMiddle {
    padding:30px 0 0 0;
  }

  .follow {
    padding:30px 0 0 0;
  }
}

@media (min-width: 0px) and (max-width: 500px) {

  .mainContainer {
    height: 900px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addressLeft {
    padding:20px 0 0 0;
  }

  .mobileMiddle {
    padding:20px 0 0 0;
  }

  .follow {
    padding:20px 0 0 0;
  }
}


/* Style for subscription form */
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  form {
    display: flex;
    align-items: center;
  }

  input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 190px;
    font-size: 14px;
    background-color: white;
    color: black;
  }

  button {
    background-color: #FC7643;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
  }

}

.line {
  width: 1px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

  /* .invalid-feedback {
    color: red;
    margin-left: 10px;
  }

  input.is-invalid {
    border-color: red;
  } */



















/* Style for subscription form
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 190px;
  font-size: 14px;
  background-color: white;
  color: black;
}

.subscribe-form button {
  background-color: #FC7643;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
} */














/* Adjustments for smaller screens */
/* @media (max-width: 768px) {
  .subscribe-form input[type="email"] {
    width: 100%;
    border-radius: 5px;
    border-radius: 5px;
  }

  .subscribe-form button {
    border-radius: 5px;
  }
} */











/* .footerBackground {
  width: 100%;
}

.subscribeContainer {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width:60%;
  position: absolute;
  top: 176px;
  left: 20%;
  border-radius: 10px;
}

.subcribeContent {
  display: flex;
  justify-content: space-between;
}

.inputEmail {
  display: flex;
}

.inputText {
  border-right: none;
  padding-left: 16px;
  border: 2px solid rgba(10, 20, 47, 0.1);
}

.inputButton {
  background: rgba(242, 113, 65, 1);
  color: white;
  border: 2px solid rgba(10, 20, 47, 0.1);
}

.menuItem {
  cursor: pointer;
  color: rgba(10, 20, 47, 1);
}

.menu {
  display: flex;
  gap:2rem;
  flex-wrap: wrap;
}

.menuImages {
  display: flex;
  gap:2rem;
  flex-wrap: wrap;
}

.bottom {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



hr {
  width: 67vw;
  margin: auto;
  margin-top: 1rem;
}

.bottonLogo {
  width:100px;
  height:20px;
}

.rightBottom {
  display: flex;
  gap:2rem;
}

.images {
  width:20px;
  height:20px;
} */

/* .container {
  margin-top: 120px;
} */

.list {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}


@media (min-width: 870px)  and (max-width: 1200px) {

  .subscribeContainer {
    width: 80%;
    top: 120px;
    left: 10%;
  }

}

@media (min-width: 770px)  and (max-width: 870px) {

  .subscribeContainer {
    width: 90%;
    top: 120px;
    left: 5%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }
/*
  .container {
    margin-top: 180px;
  } */

}

@media (min-width: 500px)  and (max-width: 770px) {

  .subscribeContainer {
    width: 90%;
    top: 120px;
    left: 5%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }

  /* .container {
    margin-top: 180px;
  } */

}

@media (min-width: 500px)  and (max-width: 770px) {

  .subscribeContainer {
    width: 95%;
    top: 120px;
    left: 2%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }
/*
  .container {
    margin-top: 200px;
  } */
}

@media (max-width: 770px) {

  .subscribeContainer {
    width: 95%;
    top: 120px;
    left: 2%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu, .menuImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }

  /* .container {
    margin-top: 200px;
  } */
}

@media screen and (max-width: 500px) {

  .inputEmail {
    display: flex;
    flex-direction: column;
  }
}


/* @import url('https://fonts.googleapis.com/css2?family=Artifika&family=Roboto&display=swap'); */
/*
img{
    background-size: cover;
}
.tagline{
    position: absolute;
    top: 35%;
    left: 50%;
    padding: 10px 0px;
    transform: translate(-50%, -50%);

  }

  .ceo{
    position: absolute;
    top: 70%;
    left: 70%;
    font-family: 'Artifika', serif;
    transform: translate(-50%, -50%);
  }

  h4{
    font-family: Lexend Deca;
  }

  .footerbottom{

    margin: 0px 30px;
      border-top-right-radius: 60%;
      border-bottom-left-radius: 60%;
      border-bottom-right-radius: 20%;
      border-top-left-radius: 20%;

  }

  @media (min-width: 200px) and (max-width: 768px) {

    .thought {
        position: absolute;
        font-size: 4.2em;

    }

    .ceo {
        position: absolute;

    }

    .ceoName {
        margin: 0% 0% 3% 22%;
    }
}
  */

  /* @import url('https://fonts.googleapis.com/css2?family=Artifika&family=Roboto&display=swap');

  .footertext {
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    margin: 0px 20px;
  }

    .tagline {
      font-family: 'Artifika', serif;
      font-size: 1.5rem;
    }


    .ceo {
      font-family: 'Artifika', serif;
      font-size: 1rem;
    }

    @media (min-width: 200px) and (max-width: 768px) {

    .tagline {
      font-family: 'Artifika', serif;
      font-size: 1.2rem;
    }


    .ceo {
      font-family: 'Artifika', serif;
      font-size: 0.7rem;
      margin-left: 70%;
    }

    .footertext {
      border-top-right-radius: 40%;
      border-bottom-left-radius: 40%;
      border-bottom-right-radius: 10%;
      border-top-left-radius: 10%;
      margin: 0px 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {

    .tagline {
      font-family: 'Artifika', serif;
      font-size: 1.25rem;
    }


    .ceo {
      font-family: 'Artifika', serif;
      font-size: 0.7rem;
      margin-left: 70%;
    }

    .footertext {
      border-top-right-radius: 40%;
      border-bottom-left-radius: 40%;
      border-bottom-right-radius: 10%;
      border-top-left-radius: 10%;
      margin: 0px 20px;
    }
  } */
