@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


.footer {
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  background-color: #2F2BEC;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 500px;
  color: white;
}

.heading {
  font-family: 'Caveat Brush', cursive;
  font-size: 36px;
  font-weight: 500;
  margin-left: 5%;
  padding: 4% 0%;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.addressLeft {
  padding:0 0 30px 224px;
}

.mobileMiddle {
  padding:0 0 12px 100px;
}

.follow {
  padding: 0 0 0 70px;
}

@media (min-width: 991px) and (max-width: 1250px) {
  .addressLeft {
    padding:0 0 12px 30px;
  }

  .mobileMiddle {
    padding:0 0 12px 30px;
  }

  .follow {
    padding: 0 0 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    font-size: 36px;
    font-weight: 500;
    margin-left: 27%;
  }

  .mainContainer {
    height: 600px;
  }

}


@media (min-width: 500px) and (max-width: 768px) {

  .mainContainer {
    height: 800px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addressLeft {
    padding:30px 0 0 0;
  }

  .mobileMiddle {
    padding:30px 0 0 0;
  }

  .follow {
    padding:30px 0 0 0;
  }
}

@media (min-width: 0px) and (max-width: 500px) {

  .mainContainer {
    height: 900px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addressLeft {
    padding:20px 0 0 0;
  }

  .mobileMiddle {
    padding:20px 0 0 0;
  }

  .follow {
    padding:20px 0 0 0;
  }
}


/* Style for subscription form */
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  form {
    display: flex;
    align-items: center;
  }

  input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 190px;
    font-size: 14px;
    background-color: white;
    color: black;
  }

  button {
    background-color: #FC7643;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
  }

}

.line {
  width: 1px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

.list {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}


@media (min-width: 870px)  and (max-width: 1200px) {

  .subscribeContainer {
    width: 80%;
    top: 120px;
    left: 10%;
  }

}

@media (min-width: 770px)  and (max-width: 870px) {

  .subscribeContainer {
    width: 90%;
    top: 120px;
    left: 5%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }

}

@media (min-width: 500px)  and (max-width: 770px) {

  .subscribeContainer {
    width: 90%;
    top: 120px;
    left: 5%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }

}

@media (min-width: 500px)  and (max-width: 770px) {

  .subscribeContainer {
    width: 95%;
    top: 120px;
    left: 2%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }
}

@media (max-width: 770px) {

  .subscribeContainer {
    width: 95%;
    top: 120px;
    left: 2%;
    padding: 24px;
  }

  .subcribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu, .menuImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .inputText {
    border-right: none;
    padding: 8px;
    border: 2px solid rgba(10, 20, 47, 0.1);
  }

}

@media screen and (max-width: 500px) {

  .inputEmail {
    display: flex;
    flex-direction: column;
  }
}

