<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Fashion</h1>
              <h5>
                These systems integrate various functions, from design and production to inventory management, sales, and distribution. Fashion ERP systems enable efficient collaboration among different departments.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Inventory Management</h3>
          <p class="text-justify mb-3 f-15">
            Product lifecycle management, which assists in designing, sourcing, and manufacturing products. Inventory management ensures accurate tracking of stock levels and helps prevent overstock or stockouts. Sales and order processing modules streamline transactions, while financial management modules handle invoicing, budgeting, and accounting.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/fashion-1.jpg" alt="Fashion" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">CRM Tool</h3>
          <p class="text-justify mb-3 f-15">
            Fashion ERP systems often incorporate customer relationship management (CRM) tools to enhance interactions with clients, track preferences, and support personalized marketing strategies. Overall, ERP systems in the fashion industry contribute to agility, cost-effectiveness, and improved decision-making, crucial factors in a highly competitive and trend-driven market.
          </p>
          <button class="btn btn-warning" style = "height: 35px;display: flex;align-items: center;" onclick=" window.open('https://web.iceipts.com/#/auth/login','_blank')" target="_blank">Try Free</button>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/fashion-2.jpg" alt="Fashion" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>

