
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Caveat', cursive;
  color:rgba(26, 32, 44, 1);
}

.templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(201, 216, 255, 1); */
  padding: 24px;
  border: none;
  border-radius: 20px;
  width: calc(33.333% - 2rem); /* Adjusts card width to fit 3 per row, accounting for gap */
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* background-color: rgba(201, 216, 255, 1); */
}

.title span {
  font-weight: bold;
  text-align: center;
}

.title img {
  width: 130px;
  height: 110px;
}

.info {
  text-align: center;
  text-wrap: wrap;
  margin-top: 16px;
  color: rgba(121, 121, 121, 1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 2rem); /* Adjust to show 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Adjust to stack cards vertically on very small screens */
  }
}
