<div class="container-fluid" style = "margin-top: 125px;">

  <img src = "../../../../assets/images/Real-Time-Project/erp/right-bg.png"
  alt = "Right Background" class = "right-bg">
  <img src = "../../../../assets/images/Real-Time-Project/erp/left-bg.png"
  alt = "Left Background" class = "left-bg">

  <h1>Products</h1>
  <div class="templates mt-5">
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-inventory.png" alt="Inventory Management">
          <span>Inventory Management</span>
        </div>
        <div class = "info">
          Inventory management is the process of overseeing, controlling, and optimizing a company's inventory of goods.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-accounting.png" alt="Accounting">
          <span>Accounting</span>
        </div>
        <div class = "info">
          The process of processing information about economic entities, like corporations and businesses.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-crm.png" alt="CRM">
          <span>CRM</span>
        </div>
        <div class = "info">
          A technology for managing all your company's relationships and interactions with customers and potential customers.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-campaign.png" alt="Campaign Management">
          <span>Campaign Management</span>
        </div>
        <div class = "info">
          The process of planning, executing, tracking, and analyzing a marketing initiative.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-warehouse.png" alt="Warehouse Management">
          <span>Warehouse Management</span>
        </div>
        <div class = "info">
          The process of overseeing the day-to-day operations of a warehouse.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-gst.png" alt="GST Fiiling">
          <span>Tax Filing</span>
        </div>
        <div class = "info">
          All gst registered businesses have to file monthly or quarterly GST returns and an annual GST.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-expense.png" alt="Expenses Management">
          <span>Expenses Management</span>
        </div>
        <div class = "info">
          The process of tracking, recording, and processing business expenses.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-warranty.png" alt="Guarantee & warranty management">
          <span>Guarantee & warranty<br />
            management</span>
        </div>
        <div class = "info">
          Helps businesses design, administer, track and assurances for product quality and performance, offering repair, replacement, or refund within specified terms.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/erp/erp-hrms.png" alt="HRMS">
          <span>HRMS</span>
        </div>
        <div class = "info">
          Successfully manage your employees & centralize all your HR information.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/fleet-management/fleet-consignment.png" alt="Consignment Management">
          <span>Consignment Management</span>
        </div>
        <div class = "info">
          Consignment  management helps in adding consignment and involves providing goods to a retailer for sale, with tracking of the delivery to ensure proper inventory management and accountability.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/fleet-management/fleet-field-staff.png" alt="Field Staff Support">
          <span>Field Staff Support</span>
        </div>
        <div class = "info">
          This ensures remote assistance, monitoring, and coordination for efficient vehicle operations and maintenance.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/fleet-management/fleet-fuel-cost-control.png" alt="Fuel Cost Control">
          <span>Fuel Cost Control</span>
        </div>
        <div class = "info">
          Monitor, optimize fuel consumption, reduce costs through efficient usage tracking, and implement strategies for savings.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/fleet-management/fleet-reconciliation.png" alt="Reconciliation">
          <span>Reconciliation</span>
        </div>
        <div class = "info">
          Aligning financial records with actual expenses, ensuring accuracy, and identifying discrepancies for transparent financial reporting.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/fleet-management/fleet-route.png" alt="Route Optimization And Logistics">
          <span>Route Optimization <br />
            And Logistics</span>
        </div>
        <div class = "info">
          Enhances efficiency by planning optimal paths, reducing fuel consumption, and improving delivery logistics for streamlined operations.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/fleet-management/fleet-vehicle.png" alt="Vehicle Information Management">
          <span>Vehicle Information<br />
            Management</span>
        </div>
        <div class = "info">
          Systematic tracking, organizing, and updating data on each fleet vehicle to ensure efficient maintenance and operations.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/mobile-app/mobile-appointments.png" alt="Appointments">
          <span>Appointments</span>
        </div>
        <div class = "info">
          Mobile app appointments streamline scheduling for services, enabling users to book, manage, and receive notifications for appointments conveniently.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/mobile-app/mobile-checkout.png" alt="Self Checkout">
          <span>Self Checkout</span>
        </div>
        <div class = "info">
          Self-checkout allows customers to scan and pay for items independently, enhancing convenience and reducing wait times at the checkout.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/mobile-app/mobile-scan-and-pay.png" alt="Scan And Pay">
          <span>Scan And Pay</span>
        </div>
        <div class = "info">
          Customers can scan items and complete payment independently through mobile apps, streamlining the  self checkout process and enhancing convenience.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/mobile-app/mobile-virtual-shopping.png" alt="Virtual Shopping">
          <span>Virtual Shopping</span>
        </div>
        <div class = "info">
          Virtual shopping allows customers to explore and buy products online, providing convenience and access to a diverse selection from the comfort of home.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class = "title">
          <img src="../../../../assets/images/Real-Time-Project/mobile-app/mobile-AI.png" alt="AI Based Support">
          <span>AI Based Support</span>
        </div>
        <div class = "info">
          AI-driven assistance enhances customer experience, providing tailored support and efficient query resolution within mobile applications, optimizing user satisfaction.
        </div>
      </div>
    </div>
  </div>
</div>

<app-footerwala></app-footerwala>
