<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Logistics</h1>
              <h5>
                Logistics ERP systems streamline supply chain processes, optimize inventory management, and enhance real-time tracking, ensuring efficient operations and customer satisfaction.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Centralize Various Functions</h3>
          <p class="text-justify mb-3 f-15">
            These systems integrate and centralize various functions, including inventory management, order processing, transportation, and warehousing. Logistics ERP systems provide real-time visibility into inventory levels, facilitate efficient order fulfillment, and streamline transportation planning, resulting in cost savings, improved operational efficiency, and enhanced customer satisfaction.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/Logistic-1.jpg" alt="Logistic" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Advanced Analytics</h3>
          <p class="text-justify mb-3 f-15">
            ERP systems in logistics often incorporate advanced analytics and reporting tools, allowing businesses to analyze performance metrics, identify areas for improvement, and make data-driven decisions to further enhance overall logistics operations.
          </p>
          <button class="btn btn-warning" style = "height: 35px;display: flex;align-items: center;" onclick=" window.open('https://web.iceipts.com/#/auth/login','_blank')" target="_blank">Try Free</button>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/Logistics-2.jpg" alt="Logistic" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>

