<div class="container">
  <h1 style = "text-align: center;">Privacy Policy</h1>
  <p class = "left">
    iCeipts Technology is committed to protecting the privacy of its Users, Customers, Partners, and Employees (collectively referred to as "Users" or "You") in all interactions, whether at-rest, in-use, or in-motion, to safeguard our business interests and reputation without disrupting day-to-day operations. The following guiding principles govern our approach to privacy:
  </p>
  <p>
    1.	Minimal Data Collection: We only request the minimum amount of information necessary for business transactions or specific purposes, ensuring we gather only essential data.
  </p>
  <p>
    2.	Efficient Data Sharing: We maintain effective, efficient, and sustainable processes for sharing data with employees, partners, and vendors to support business operations.
  </p>
  <p>
    3.	Authorization Mechanisms: Strict approval and authorization mechanisms are in place to control access to collected information, ensuring data integrity and confidentiality.
  </p>
  <p>
    4.	Technology Safeguards: Our tools and applications incorporate strong technologies to provide higher control, visibility, and protection of information usage.
  </p>
  <p>
    5.	Purpose-Specific Collection: All information collected serves a specific purpose, aligning with our commitment to transparency and accountability.
  </p>
  <p class = "left">
    This Privacy Policy elucidates our practices concerning the collection, use, disclosure, transfer, or processing of your data by iCeipts Technology, encompassing various websites, platforms, offline and other services, including but not limited to data delivery and content dissemination through any mobile or internet-connected device (collectively referred to as the "Services"). The policy encompasses the following aspects:
  </p>
  <h2>Definitions:</h2>
  <p>
    1.	Customer/User/You: Refers to any individual, entity, or organization involved in commercial transactions with iCeipts Technology or whose data is being collected by any means.
  </p>
  <p>
    2.	Website(s): Includes all websites owned and operated by iCeipts Technology, such as icceipts.com, help.icceipts.com, and any web pages or social networks linked to this privacy policy.
  </p>
  <p>
    3.	iCeipts Technology/We/Us: Refers to iCeipts Technology, its subsidiary(ies), associate(s), and affiliate(s).
  </p>
  <p>
    4.	Sensitive Personal Data: Refers to personal information such as passwords, financial details, health records, etc., as defined by applicable regulations.
  </p>
  <h2>Data Collection:</h2>
  <p>
    1.	When accessing our Platform, we collect and store information provided by Users, including but not limited to email addresses, physical addresses, names, phone numbers, and mobile numbers.
  </p>
  <p>
    2.	Data may be collected during online/offline submissions, events, trade shows, marketing activities, product usage, and correspondence.
  </p>
  <p>
    3.	Additionally, information related to transactions on our platform and third-party business partner platforms may be collected.
  </p>
  <h2>Use of Collected Information:</h2>
  <p>
    1.	Advertising and Marketing: Personal data may be utilized to advertise and provide personalized information about our products and services, both on our sites and third-party platforms.
  </p>
  <p>
    2.	Customer Support: Collected data is used to identify Users and provide personalized support across various touchpoints.
  </p>
  <h2>Disclosure of Collected Information:</h2>
  <p class = "left">
    Information may be shared with affiliates, service providers, agents, third-party vendors, partners, regulators, and law enforcement agencies, as necessary to fulfill business obligations or legal requirements.
  </p>
  <h2>Security of Data:</h2>
  <p>
    1.	We implement technical and organizational measures to prevent loss, misuse, or manipulation of shared information.
  </p>
  <p>
    2.	All collected data is stored on secure, password-protected servers. However, Users acknowledge the inherent risks associated with data transmission over the internet.
  </p>
  <h2>Your Rights and Choices:</h2>
  <p class = "left">
    Users have rights concerning confirmation, access, correction, data portability, deletion, and withdrawal of consent. Requests regarding these rights can be directed to privacy@icceipts.com.
  </p>
  <h2>General Information:</h2>
  <p>
    1.	Consent: Data collection is subject to User consent, and withdrawal of consent is permitted at any time. However, withdrawal may affect access to our Platform or services.
  </p>
  <p>
    2.	Retention of Data: Personal information is retained in compliance with applicable laws, for necessary periods to fulfill business purposes.
  </p>
  <p>
    3.	Availability of Platform: Use of our Platform is limited to individuals capable of forming legally binding contracts. We do not knowingly solicit or collect information from individuals under the age of 18.
  </p>
  <h2>Changes to the Privacy Policy:</h2>
  <p class = "left">
    Users are advised to check our Privacy Policy periodically for updates. We will notify Users of significant changes through website updates, notices, or emails.
  </p>
  <h2>Grievance Redressal:</h2>
  <p class = "left">
    For grievances, queries, or to exercise your rights, contact our Grievance Redressal Officer at
    <a href = "contact@iceipts.com" target="_blank"><span>contact@iceipts.com</span></a>.
  </p>
</div>
