<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Retail</h1>
              <h5>
                Retail ERP systems streamline inventory management by providing real-time visibility into stock levels, tracking merchandise movements, and automating reorder processes. This ensures that retailers can meet customer demand efficiently while minimizing stockouts and excess inventory.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal my-3">Supply Chain Management</h3>
          <p class="mb-3 ">
            Supply chain management in ERP involves overseeing the flow of goods, information, and finances from suppliers to customers. It optimizes processes to ensure efficiency, visibility, and collaboration across the entire supply chain.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/retail-1.jpg" alt="Retail" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal my-3">Promotion And Pricing Optimization</h3>
          <p class="mb-3 ">
            ERP systems help retailers optimize pricing strategies and promotional activities. By analyzing sales data and market trends, retailers can set competitive prices, plan effective promotions, and maximize profitability.
          </p>
          <button class="btn btn-warning" style = "height: 35px;display: flex;align-items: center;" onclick=" window.open('https://web.iceipts.com/#/auth/login','_blank')" target="_blank">Try Free</button>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/retail-2.jpg" alt="Retail" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>

