<!-- About us Start -->
<section class="section bg-light" id="about">
    <!-- MAIN CONTAINER -->
    <div class="container">
        <!-- HEADING -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8 col-sm-10">
                        <div class="title text-center mb-3">
                            <h3 class="font-weight-normal text-dark">About <span class="text-warning">Us</span></h3>
                            <br>
                            <p class="text-muted text-center">Empowering you with seamless warranty management<br>
                            ENJOY UNPARALLELED EASE OF ACCESS AND A 360-DEGREE VIEW OF YOUR BUSINESS - ALL FROM THE COMFORT OF YOUR OWN HOME OR OFFICE WITH ICEIPTS.</p>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- UPPER SECTION -->

                <div class="row justify-content-center">
                    <!-- LEFT SECTION -->

                    <!-- RIGHT SECTION -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div>
                            <h6 class="text-dark font-weight-normal f-20 mb-3"><span class="text-warning">Why</span> is iCeipts. the preferred operating software for businesses?</h6>
                        </div>
                        <hr>
                        <div>
                            <h6 class="text-dark font-weight-normal f-20 mb-3">Cloud-based SAAS ERP solution</h6>
                            <p class = "text-muted">We understand how difficult it is to run a business, which is why we developed a cloud-based SAAS ERP solution that streamlines your operations and provides real-time analytics and insights.</p>
                        </div>
                        <hr>
                        <div>
                            <h6 class="text-dark font-weight-normal f-20 mb-3">AI and ML-based automation</h6>
                            <p class = "text-muted">Our AI and ML-powered automation tools handle time-consuming and tedious tasks while allowing you to focus on what really matters: growing your business. With iCeipts, you'll be able to stay ahead of the competition and outperform them.</p>
                        </div>
                        <hr>
                        <div>
                            <h6 class="text-dark font-weight-normal f-20 mb-3">360-degree real-time analytics</h6>
                            <p class = "text-muted">You'll have unparalleled ease of access and a 360-degree view of your business with iCeipts, all from the comfort of your own home or office.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h6 class="text-dark font-weight-normal f-20 mb-3">Say goodbye to paper warranty cards</h6>
            <p class = "text-muted">We understand the hassle of keeping track of physical warranty and guarantee papers, that's why we've made it our mission to digitalize the process and make it easier for you to claim the guarantee of your products.</p>
            <p class = "text-muted">Our platform connects you directly to the service center, eliminating the need for paper-based warranty and guarantee tracking. With just a few clicks, you can access all of your product information and warranty details.At our E-Recipe Company, we believe in making the warranty and guarantee claiming process as seamless as possible. Our platform is user-friendly and allows you to easily manage all of your products in one place.</p>
            <p class = "text-muted">Not only does our platform save you time, it also saves you from the stress of having to keep track of physical papers. With our digital solution, you can have peace of mind knowing that your product information and warranty details are easily accessible.</p>
        </div>
    </div>
</section>
        <br>

        <!--    LOWER SECTION -->
<section>    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class = "service-box service-blue">
                    <h6 class="service-title text-dark font-weight-normal pt-4 f-20 mb-4">Our Mission</h6>
                    <p class="text-muted font-weight-light">To transform the way customers in India, handle their warranty and guarantee information by offering a smooth, digital solution. As we work towards a more digital India, our aim is to make the claiming process easier to understand and more accessible to everyone.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class = "service-box service-blue">
                    <h6 class="service-title text-dark font-weight-normal pt-4 f-20 mb-4">Our Vision</h6>
                    <p class="text-muted font-weight-light">To be India's top supplier of digital warranty and guarantee management solutions so that customers can take control of their product information and the claims process. The process of obtaining a warranty or guarantee should be simple for everyone in the future when physical papers are no longer required.</p>
                </div>    
            </div>
        </div>
    </div>
</section>  

<button (click)="ongoFeature()">GoTOFeatures</button>

<!-- About us End -->