p {
    text-align: justify;
}

/* About Us Page */

.container1 {
    height: auto;
    position: relative;
    width: 100%;
    background-color:#f6f9fc;
}

.container1 > img {
    width:100%;
    display: block;
}

.content {
    position:absolute;
    top:40%;
    left:30%;
    right:20%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .content {
        top:40%;
        left:33%;
        right:15%;
        transform: translate(-50%, -50%);
        font-size: 14px;
    }
}


@media (min-width: 200px) and (max-width: 768px) {

    .content {
        top:40%;
        left:32%;
        right:10%;
        transform: translate(-50%, -50%);
        font-size: 14px;
    }
}

/* vision Page */


.vision {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .container2 {
    height: auto;
    position: relative;
    width: 100%;
    background-color:#27076a;
    margin-top: 10px;
} */

/* .container2 > founderPic {
    width:100%;
    display: block;
} */
/* 
.content2 {
    position:absolute;
    top:80%;
    left:30%;
    transform: translate(-50%, -50%);
    font-size: 15px;
} */