
.card {
    padding: 48px;
    margin-top:-20px;
}

/* .container {
    height: auto;
    position: relative;
    width: 100%;
}

.client {
    width:100%;
    display: block;
}

.clientImg {
    width: 40%;
    margin:auto;
    height: auto;
    border-radius: 100px;
}

.symbol{
    width: 30%;
    height: 5px;
    margin: auto;
}

.clientHeading {
    position:absolute;
    top:2%;
    left:23%;
    right:20%;
} 

.clientsText {
    position:absolute;
    top:8%;
    left:23%;
    right:20%;
}

.content {
    position:absolute;
    top:23%;
    left:0.70%;
    font-size: 15px;
} */