@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.heading {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  font-size: 52px;
  color:rgba(26, 32, 44, 1);
  text-align:center;
}

/* .comment {
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 60px 0px;
  text-align: justify;
  width: 350px
} */

.comment {
  position: relative;
  padding: 20px 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  width: 40%;
  margin: 20px auto;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  box-sizing: border-box;
}

.comment:before, .comment:after {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, chocolate, darkred);
  font-size: 6em;
  position: absolute;
}

.comment:before {
  content: "‘";
  top: 65%;
  left: 0;
  transform: translate(-10%, -100%);
}

.comment:after {
  content: '’';
  bottom: 40%;
  right: 0;
  transform: translate(10%, 100%);
}

@media (min-width: 991px)  and (max-width: 1100px) {

  .comment:before {
    top: 60%;
  }

  .comment:after {
    bottom: 35%;
  }

}
@media (min-width: 768px)  and (max-width: 991px) {

  .comment {
    width: 60%;
  }

  .comment:before {
    top: 70%;
  }

  .comment:after {
    bottom: 50%;
  }

}
@media (min-width: 625px)  and (max-width: 768px) {

  .comment {
    width:70%;
  }

  .comment:before {
    top: 70%;
  }

  .comment:after {
    bottom: 50%;
  }

}
@media (min-width: 500px)  and (max-width: 625px) {

  .comment {
    width:70%;
  }

  .comment:before {
    top: 50%;
  }

  .comment:after {
    bottom: 30%;
  }

}
@media (min-width: 450px)  and (max-width: 500px) {

  .comment {
    width:80%;
  }

  .comment:before {
    top: 50%;
    left: 0;
  }

  .comment:after {
    bottom: 30%;
    right: 0;
  }

}
@media (min-width: 0px)  and (max-width: 450px) {

  .comment {
    width:80%;
  }

  .comment:before {
    top: 40%;
    left: 0;
  }

  .comment:after {
    bottom: 20%;
    right: 0;
  }

}

.leftComma {
  width: 25px;
  height: 30px;
  rotate: 180deg;
  position: absolute;
  left:29%;
  margin-bottom: 8%;
}

.rightComma {
  width: 25px;
  height: 30px;
  position: absolute;
  left:70%;
  margin-top: 30%;
}

.leftArrow {
  width: 25px;
  height: 30px;
  position: absolute;
  left:5%;
  margin-top: 15%;
  cursor: pointer;
}

.rightArrow {
  width: 25px;
  height: 30px;
  position: absolute;
  right:5%;
  rotate: 180deg;
  margin-top: 15%;
  cursor: pointer;
}

.customerSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 69px;
  height: 5px;
  border: none;
  background: linear-gradient(to right, rgba(242, 113, 65, 1), rgba(17, 1, 82, 1));
}

.img-fluid, .customerName, .customerOccupation {
  transition: all 0.3s ease-in-out;
}

.active {
  opacity: 1;
  margin: 6px;
  transform: scale(1.09);
}

.inactive {
  opacity: 0.3;
  transform: scale(1);
}

