
<section class="section mt-5 section1">
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-4 col-md-12">
                <div class="title mt-5 mb-5">
                    <h3 class="font-weight-normal text-white head3">ERP</h3>
                    
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="features-img imag1">
                    <img src="assets/images/features/ERPB.png" alt="" class="imag2 img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <!-- <div class="row align-items-center mt-5">
            <div class="col-md-4 offset-md-4 order-last order-sm-0">
                
            </div>
        </div> -->
    </div>
</section>

<section class="section">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 ">
                <div class="title text-center mt-3 mb-5">
                    <h3 class="font-weight-normal text-dark">Key Features of <span class="text-warning">ERP</span></h3>
                  </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/ERP1.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">
                        Our system has an additional feature of ERP that sets us apart. 
                        ERP is a business process management system that helps companies manage their operations and 
                        resources efficiently.
                        Companies that use our tool has seen their efficiency skyrocket by [X] %.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center  justify-content-center mt-5">
            
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">It streamlines processes, increases productivity, reduces costs, and improves customer service. 
                        ERP software manages tasks such as accounting, inventory control, human resources management, sales, and marketing activities. </p>
                    
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/ERP2.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/ERP5.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">Companies gain insights into their operations and make informed decisions with the help of ERP systems. 
                        The ERP is easy to master, and using it can save a lot of time. ERP can help companies outperform their competitors with superior management.</p>
                    
                </div>
            </div>
        </div>  
    </div>
</section>