
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Artifika&family=Roboto&display=swap');

/* mobile app link */
.mobileapp {
    margin: 0px 20px 0px 10px;
}

.appbutton {
    padding: 6px 11px;
    
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 
                0 6px 20px 0 rgba(0,0,0,0.19); */
}

/* Login button */
.loginbutton {
    padding: 6px 32px;
}

/* Desktop download button */
/* .desktopappbutton {
    padding: 6px 11px;
} */

/* Heading and Tagline */

.heading {
    font-family: 'Artifika', serif;
}

.subheading {
    font-family: 'Aref Ruqaa', serif;
}

.navbar-nav > li > a {
    color:rgba(white, 0.9) !important;
} 

.navbar-nav > li > a:hover {
    color:#ff8057 !important;
}

/* 
font-family: 'Roboto', sans-serif; */
/* font-family: 'Aref Ruqaa', serif;
font-family: 'Artifika', serif;
font-family: 'Roboto', sans-serif; */

@media screen and (min-width: 200px) and (max-width: 991px) {
    
    /* mobile app link */
    .mobileapp {
        margin: 0px 10px 0px 10px;
    }
/* 
    .appbutton {
        padding: 6px 11px;
    } */

    /* Login button */
    .loginbutton {
        padding: 0px 0px;
    }
}