@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Artifika&family=Roboto&display=swap');

.appbutton {
  color:white;
  padding: 6px 11px !important;
  position:absolute;
  right:0.5%;
  background: white;
  color:#FC7643;
  border: solid 1px #FC7643;

  /* background-color: #2132CC; */
  /* background-color: rgba(87, 0, 123, 1);
  background-image: linear-gradient(19deg, rgba(102, 117, 247, 1) 0%, rgba(102, 117, 247, 1) 100%); */
}

/* .getStarted {
  font-size: 12px;
  text-align: center;
  padding: 12px 24px;
  border-radius: 4px;
  border: solid 1px #FC7643;
  float: left;
  background: white;
  color:#FC7643;
  font-weight: 600;
} */

.appbutton:hover {
  background: rgba(252, 118, 67, 0.1);
}

.productLinks {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.productContainer {
  display: flex;
  align-items: center;
  width: 170px;
  cursor: pointer;
}

.container {
  display: flex;
  padding: 20px;
  width: 400px !important;
}

@media (min-width: 992px) and (max-width: 1110px) {

  ul {
    padding-right: 150px !important;
  }
}

@media (min-width: 200px) and (max-width:850px) {
  .container {
    flex-direction: column;
    flex-basis: 200px !important;
  }
}

.loginbutton {
    padding: 6px 32px;
}

.navbar-nav>li>a {
  color: rgba(74, 85, 104, 1) !important;
  font-weight: 500;
}

.navbar-nav>li>a:hover {
  color: #ff8057 !important;
}

.navbar-nav {
  margin: auto !important;
}

.logo2>img {
  font-size: 10px;
  width: 20px;
  height: 10px;
}

.logo {
  float: left;
}


@media screen and (min-width: 200px) and (max-width: 991px) {

  .appbutton {
    padding: 6px 11px !important;
    margin: 0px 5px 5px 0px;
    position: static !important;
  }

  .loginbutton {
    margin-top: 10px;
  }

  .navbar-nav {
    display: flex !important;
    align-items: center !important;
  }
}

.product {
  color: rgba(74, 85, 104, 1);
}

.product:hover {
  color: #ff8057 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.filterBox {
  position: absolute;
  /* left: -230% !important; */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
}

.filterBox.show {
  display: block;
}

.flex-item {
  flex-basis: 50px;
}

.filterIcon {
  cursor: pointer;
}




