
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Artifika&family=Roboto&display=swap');

.appbutton {
    padding: 6px 11px !important;
    margin:0px 20px 0px 10px;
}

/* Login button */
.loginbutton {
    padding: 6px 32px;
}

/* Heading and Tagline */

.heading {
    font-family: 'Artifika', serif;
}

.subheading {
    font-family: 'Aref Ruqaa', serif;
}

.navbar-nav > li > a {
    color:rgba(white, 0.9) !important;
} 

.navbar-nav > li > a:hover {
    color:#ff8057 !important;
}

/* 
font-family: 'Roboto', sans-serif; */
/* font-family: 'Aref Ruqaa', serif;
font-family: 'Artifika', serif;
font-family: 'Roboto', sans-serif; */

@media screen and (min-width: 200px) and (max-width: 991px) {

    .appbutton {
        padding: 6px 11px !important;
        margin: 0px 5px 5px 0px;
    }

    /* Login button */
    .loginbutton {
        margin-top: 10px;
    }
}