<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Education</h1>
              <h5>
                Education ERP systems streamline student information, course management, and financial processes. They enhance communication, facilitate admissions, and integrate learning platforms
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Systems Integrate</h3>
          <p class="text-justify mb-3 f-15">
            Systems streamline administrative tasks, manage student information, and facilitate communication. These systems integrate various functions like admissions, course management, and financial processes, enhancing overall operational efficiency and organization-wide coordination.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/education-1.jpg" alt="Education" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">ERP Solutions</h3>
          <p class="text-justify mb-3 f-15">
            ERP solutions in education support data-driven decision-making, improve collaboration among stakeholders, and contribute to a more streamlined and effective educational ecosystem.
          </p>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/education-2.jpg" alt="Education" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>

