<section class = "aboutUs">

  <div class="container-fluid" style = "margin-top: 110px;padding: 20px;">
    <div class="row" style = "display: flex;flex-direction: column;align-items: center;text-align: center;">
      <h1 class="heading" style = "font-size: 52px;font-weight: 600;">About our company</h1>
      <h4 class = "subHeading">
        iCeipts Technologies combines creativity and efficiency in coding, providing tailored solutions for business growth in the dynamic digital landscape. We empower retailers with AI-driven tools for seamless shopping experiences and efficient post-sale warranty management.      </h4>
    </div>
    <div class = "row">
      <!-- <div class="col-lg-8 col-md-12 col-sm-12">
        <img src = "../../../../assets/images/About/head-1.png" class = "img-fluid" style = "padding:16px;margin: 4px;height: 100%;" />
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <img src = "../../../../assets/images/About/head-2.png" class = "img-fluid" style = "padding:16px;margin: 4px;height: 100%;" />
      </div> -->
      <div class="col-lg-12 col-md-12 col-sm-12" style = "display: flex;justify-content: center;">
        <!-- <img src="../../../../assets/images/About/about-us-head-pic.png" class="img-fluid" style="padding: 0; margin: 0; max-width: 100%; height: auto;" alt="About Us Image"> -->
        <img src = "../../../../assets/images/About/about-us-head-pic.jpg" class = "img-fluid img-responsive" style = "padding:16px;margin: 4px;border-radius: 40px;width: 1150px;height: 500px;" alt="About Us Image" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12 mt-5">
        <hr style = "margin-right: 74%;" />
        <h3 class = "headerTwo">What we do</h3>
      </div>
      <div class="col-lg-8 col-md-9 col-sm-12 mt-5">
        <div class = "content">
          <p>
            At iCeipts Technologies, we embed innovation and effectiveness into each code line, providing custom solutions that drive your business ahead. With precise craftsmanship, we tailor our software to meet your distinct needs, enabling success in a dynamic digital environment.
          </p>
          <br />
          <p>
            Our ERP solution is favored by businesses for our steadfast dedication to tackling each client's specific challenges. Supported by experienced professionals, we deliver innovative solutions precisely tailored to your business needs, whether in digital design, branding identity, or cloud-based services, empowering your business's advancement.
            We meticulously craft our software to meet your needs, ensuring success in today's digital landscape. Our AI-driven tools empower retailers for seamless shopping and warranty management.
          </p>
        </div>
      </div>
    </div>
    <div class = "row mt-5 py-4" style = "display: flex;justify-content: space-evenly;align-items: center;flex-wrap: wrap;background-color: rgba(236, 234, 234, 1);">
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">100<span style = "color:rgba(82, 54, 255, 1)"> M</span></div>
        <div style = "font-size: 18px;color:black;">Client Satisfaction</div>
      </div>
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">24<span style = "color:rgba(82, 54, 255, 1)"> h</span></div>
        <div style = "font-size: 18px;color:black;">Expert Support System</div>
      </div>
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">98<span style = "color:rgba(82, 54, 255, 1)"> K+</span></div>
        <div style = "font-size: 18px;color:black;">Sales Count</div>
      </div>
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">208<span style = "color:rgba(82, 54, 255, 1)"> +</span></div>
        <div style = "font-size: 18px;color:black;">Client Worldwide</div>
      </div>
    </div>
    <div class="row ourVision mt-5">
      <div class="mb-4">
        <hr style = "margin-right: 30%;" />
        <h3 class = "headerTwo">Our Vision</h3>
      </div>
      <div class = "card visionCard" style = "width: 260px;">
        <div class="card-body p-0">
          <img src = "../../../../assets/images/About/double-quotes.png" class="img-fluid my-2"
            style = "width: 30px;height: 30px;">
          <p style = "text-align: justify;">
            "To revolutionize global enterprises with AI-infused ERP solutions, catalysing efficiency, innovation, and sustainable advancement."
          </p>
          <span style = "font-weight: bold;">
            Sibanee kar
          </span><br />
          <span>
            Founder & CEO
          </span>
        </div>
      </div>
      <div class="features-img">
        <img src="assets/images/vision.jpg" alt="Sibaane Kar" class="img-fluid d-block mx-auto visionPic">
      </div>
    </div>
    <!-- <div class="row align-items-center justify-content-center mt-5">
      <div class="col-md-12 col-lg-8 order-sm-first order-md-first order-lg-first">
        <div class="mb-4">
          <hr style = "margin-right: 87%;" />
          <h3 class = "headerTwo">Our Vision</h3>
          <p class="content">
            To be India's top supplier of digital warranty and guarantee management solutions so that customers can take control of their product information and the claims process.<br /><br />
            The process of obtaining a warranty or guarantee should be simple for everyone in the future when physical papers are no longer required.
            </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 order-sm-last order-md-last order-lg-first">
        <div class="features-img">
          <img src="assets/images/vision.jpg" alt="Sibaane Kar" class="img-fluid d-block mx-auto"
            style="padding:20px;max-width: 100%;height: auto;max-height: 400px;min-height: 350px;">
        </div>
      </div>
    </div> -->
    <div class="row" style = "display: flex;flex-direction: column;align-items: center;text-align: center;">
      <h1 class="heading mt-2"><span style = "color:rgba(252, 118, 67, 1);font-size: 54px;">Solution's</span> that we provide</h1>
      <img src = "../../../../assets/images/underline.png" class = "img-fluid" style = "width: 190px;height:10px;position: relative;left: -110px;bottom:20px;">

      <div class="templates mt-2">
        <div class="card">
          <div class="card-body">
            <div class = "title">
              <img src="../../../../assets/images/About/data-driven-insight.png" alt = "Data-Driven Insights">
              <span>Data-Driven Insights</span>
            </div>
            <div class = "info">
              Data-driven insights optimize business functions, providing critical intel for decision-making, trend spotting, process enhancement, and heightened effectiveness.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class = "title">
              <img src="../../../../assets/images/About/digital-design.png" alt = "Digital Design">
              <span>Digital Design</span>
            </div>
            <div class = "info">
              Our team of seasoned professionals possesses cutting-edge software expertise to craft exquisite designs customized to our clients' exact specifications.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class = "title">
              <img src="../../../../assets/images/About/branding-identity.png" alt = "Branding Identity">
              <span>Branding Identity</span>
            </div>
            <div class = "info">
              Our cloud-centric solutions guarantee seamless accessibility to essential information and resources, facilitating the development of an impactful brand identity.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class = "title">
              <img src="../../../../assets/images/About/dynamic-growth.png" alt = "Dynamic Growth">
              <span>Dynamic Growth</span>
            </div>
            <div class = "info">
              AI-driven software solutions facilitate dynamic growth through advanced algorithms, predictive analytics, and adaptive functionalities.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class = "title">
              <img src="../../../../assets/images/About/decision-making-capabilities.png" alt = "Decision-Making Capabilities">
              <span>Decision-Making Capabilities</span>
            </div>
            <div class = "info">
              AI-driven ERP solutions elevate decision-making prowess through data analysis, trend forecasting, and furnishing actionable insights crucial for strategic planning.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class = "title">
              <img src="../../../../assets/images/About/scale-with-business-continuity.png" alt = "Scale With Business Continuity">
              <span>Scale With Business Continuity</span>
            </div>
            <div class = "info">
              Advanced technology fortifies business scalability by bolstering resilience, agility, and adaptability, ensuring seamless operations amidst evolving circumstances.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<app-footerwala></app-footerwala>



<!-- <div class = "col-12">
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
      <img src="../../../../assets/images/About/data-driven-insight.png" alt = "Data-Driven Insights" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
      <div>
          <h4 style = "text-align:left;padding-left: 30px;">Data-Driven Insights</h4>
          <p class = "content">
            Data-driven insights optimize business functions, providing critical intel for decision-making, trend spotting, process enhancement, and heightened effectiveness.
          </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
      <img src="../../../../assets/images/About/digital-design.png" alt = "Digital Design" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
      <div>
          <h4 style = "text-align:left;padding-left: 30px;">Digital Design</h4>
          <p class = "content">
            Our team of seasoned professionals possesses cutting-edge software expertise to craft exquisite designs customized to our clients' exact specifications.
          </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
      <img src="../../../../assets/images/About/branding-identity.png" alt = "Branding Identity" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
      <div>
          <h4 style = "text-align:left;padding-left: 30px;">Branding Identity</h4>
          <p class = "content">
            Our cloud-centric solutions guarantee seamless accessibility to essential information and resources, facilitating the development of an impactful brand identity.
          </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
      <img src="../../../../assets/images/About/dynamic-growth.png" alt = "Dynamic Growth" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
      <div>
          <h4 style = "text-align:left;padding-left: 30px;">Dynamic Growth</h4>
          <p class = "content">
            AI-driven software solutions facilitate dynamic growth through advanced algorithms, predictive analytics, and adaptive functionalities.
          </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
      <img src="../../../../assets/images/About/decision-making-capabilities.png" alt = "Decision-Making Capabilities" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
      <div>
          <h4 style = "text-align:left;padding-left: 30px;">Decision-Making Capabilities</h4>
          <p class = "content">
            AI-driven ERP solutions elevate decision-making prowess through data analysis, trend forecasting, and furnishing actionable insights crucial for strategic planning.
          </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
      <img src="../../../../assets/images/About/scale-with-business-continuity.png" alt = "Scale With Business Continuity" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
      <div>
          <h4 style = "text-align:left;padding-left: 30px;">Scale With Business Continuity</h4>
          <p class = "content">
            Advanced technology fortifies business scalability by bolstering resilience, agility, and adaptability, ensuring seamless operations amidst evolving circumstances.
          </p>
      </div>
    </div>
  </div>
</div> -->
