<section class = "aboutUs">

  <div class="container-fluid" style = "margin-top: 110px;padding: 20px;">
    <div class="row" style = "display: flex;flex-direction: column;align-items: center;text-align: center;">
      <h1 class="heading" style = "font-size: 52px;font-weight: 600;">About our company</h1>
      <h4 class = "subHeading">At iCeipts,we have developed a transformative platform that is <br /> set to redefine the way people shop and experience.</h4>
    </div>
    <div class = "row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <img src = "../../../../assets/images/FrameHome.png" class = "img-fluid" style = "padding:16px;margin: 4px;height: 100%;" />
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <img src = "../../../../assets/images/hero-1-img.png" class = "img-fluid" style = "padding:16px;margin: 4px;height: 100%;" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12 mt-5">
        <hr style = "margin-right: 74%;" />
        <h3 class = "headerTwo">What we do</h3>
      </div>
      <div class="col-lg-8 col-md-9 col-sm-12 mt-5">
        <p class = "content">
          Our goal is to provide consumers with hassle-free shopping experience by
          eliminating the need to wait in queuesfor product.Additionally, we offer a unique
          data-driven solution for guaranty and warranty management, connecting customers to
          service centres seamlessly whenever there is an issue with a product. <br /><br />Our cloud-based
          SAAS ERP solution streamlines operations and provides real-time analytics and insights to the retailers.
          iCeipts replaces physical papers with digital records, making it easier for customers
          to claim the guarantee of their products.
        </p>
      </div>
    </div>
    <div class = "row mt-5" style = "display: flex;justify-content: space-evenly;align-items: center;flex-wrap: wrap;">
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">100<span style = "color:rgba(82, 54, 255, 1)"> M</span></div>
        <div style = "font-size: 18px;color:black;">Client Satisfaction</div>
      </div>
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">24<span style = "color:rgba(82, 54, 255, 1)"> h</span></div>
        <div style = "font-size: 18px;color:black;">Expert Support System</div>
      </div>
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">98<span style = "color:rgba(82, 54, 255, 1)"> K+</span></div>
        <div style = "font-size: 18px;color:black;">Sales Count</div>
      </div>
      <div style = "display: flex;flex-direction: column;align-items: center;padding: 10px;">
        <div style = "font-size: 42px;font-weight: 600;">208<span style = "color:rgba(82, 54, 255, 1)"> +</span></div>
        <div style = "font-size: 18px;color:black;">Client Worldwide</div>
      </div>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-md-12 col-lg-8 order-sm-first order-md-first order-lg-first">
        <div class="mb-4">
          <hr style = "margin-right: 87%;" />
          <h3 class = "headerTwo">Our Vision</h3>
          <p class="content">
            To be India's top supplier of digital warranty and guarantee management solutions so that customers can take control of their product information and the claims process.<br /><br />
            The process of obtaining a warranty or guarantee should be simple for everyone in the future when physical papers are no longer required.
            </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 order-sm-last order-md-last order-lg-first">
        <div class="features-img">
          <img src="assets/images/vision.jpg" alt="Sibaane Kar" class="img-fluid d-block mx-auto" style="border-radius: 70px;padding:20px;max-width: 100%;height: auto;max-height: 400px;min-height: 350px;">
        </div>
      </div>
    </div>
    <div class="row" style = "display: flex;flex-direction: column;align-items: center;text-align: center;">
      <h1 class="heading mt-5"><span style = "color:rgba(252, 118, 67, 1);font-size: 54px;">Solution's</span> that we provide</h1>
      <img src = "../../../../assets/images/underline.png" class = "img-fluid" style = "width: 190px;height:10px;position: relative;left: -110px;bottom:20px;">
      <div class = "col-12">
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
            <img src="assets\images\Icon.png" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
            <div>
                <h4 style = "text-align:left;padding-left: 30px;">Awesome Support</h4>
                <p class = "content">
                  We believe in offering awesome support to our customers. We provide a wide range of services and software solutions that are cloud-based and easy to use.
                </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
            <img src="assets\images\Icon.png" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
            <div>
                <h4 style = "text-align:left;padding-left: 30px;">Digital Design</h4>
                <p class = "content">
                  Our team of experienced professionals is equipped with the latest software to create stunning designs that are tailored to our clients' needs.
                </p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
            <img src="assets\images\Icon.png" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
            <div>
                <h4 style = "text-align:left;padding-left: 30px;">Branding Identity</h4>
                <p class = "content">
                  Our cloud-based solutions ensure that customers have access to all the necessary information and resources they need in order to build an effective brand identity.
                </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mt-3" style = "display: flex;">
            <img src="assets\images\Icon.png" class="img-fluid" style = "padding: 20px;height:200px;margin: auto;">
            <div>
                <h4 style = "text-align:left;padding-left: 30px;">Dynamic Growth</h4>
                <p class = "content">
                  Using cloud-based software solutions can also help you save time by streamlining processes, eliminating manual tasks, and providing better insights.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<app-footerwala></app-footerwala>


