@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.heading{
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  font-size: 36px;
  color:rgba(26, 32, 44, 1);
  margin-bottom: 20px;
}

.subHeading {
  color: rgba(121, 121, 121, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0px 30px;
  width: 75%;
}

.headerTwo{
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  font-size: 32px;
  color:rgba(26, 32, 44, 1);
  margin-bottom: 20px;
  padding-left: 30px;
}

.content {
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: justify;
  padding: 0px 30px;
}

hr {
  width: 69px;
  height: 5px;
  border: none;
  background: linear-gradient(to right, rgba(242, 113, 65, 1), rgba(17, 1, 82, 1));
}



.templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.visionPic {
  padding:20px;
  max-width: 100%;
  width:380px;
  height: 550px;
  max-height: 400px;
  min-height: 350px;
}

.visionCard {
  position: absolute;
  z-index: 2;
  box-shadow: -4px 0 9px rgba(0, 0, 0, 0.3);
  left: 30%;
  top: 15%;
  padding: 18px;
  height: 300px;
}

.features-img {
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 5%;
}

.ourVision {
  position: relative;
  height: 500px;
  max-height: 90vh;
  min-height: 50vh;
}

@media (min-width:2100px) and (max-width:2200px) {
  .visionCard {
    left: 30%;
  }
  .features-img {
    left: 45%;
  }
}
@media (min-width:2000px) and (max-width:2100px) {
  .visionCard {
    left: 26%;
  }
  .features-img {
    left: 42%;
  }
}
@media (min-width:1900px) and (max-width:2000px) {
  .visionCard {
    left: 23%;
  }
  .features-img {
    left: 40%;
  }
}
@media (min-width:1800px) and (max-width:1900px) {
  .visionCard {
    left: 21%;
  }
  .features-img {
    left: 40%;
  }
}
@media (min-width:1600px) and (max-width:1800px) {
  .visionCard {
    left: 19%;
  }
  .features-img {
    left: 40%;
  }
}
@media (min-width:1400px) and (max-width:1600px) {
  .visionCard {
    left: 16%;
  }
  .features-img {
    left: 40%;
  }
}
@media (min-width:1300px) and (max-width:1400px) {
  .visionCard {
    left: 14%;
  }
  .features-img {
    left: 40%;
  }
}
@media (min-width:1200px) and (max-width:1300px) {
  .visionCard {
    left: 12%;
  }
  .features-img {
    left: 40%;
  }
}
@media (min-width:1100px) and (max-width:1200px) {
  .visionCard {
    left: 15%;
  }
  .features-img {
    left: 45%;
  }
}
@media (min-width:991px) and (max-width:1100px) {
  .visionCard {
    left: 12%;
  }
  .features-img {
    left: 45%;
  }
}
@media (min-width:900px) and (max-width:991px) {
  .visionCard {
    left: 9%;
  }
  .features-img {
    left: 45%;
  }
}
@media (min-width:850px) and (max-width:900px) {
  .visionCard {
    left: 5%;
  }
  .features-img {
    left: 45%;
  }
}
@media (min-width:740px) and (max-width:850px) {
  .visionCard {
    left: 0%;
    top: 31%;
  }
  .features-img {
    left: 45%;
    top: 21%;
  }
}
@media (min-width:640px) and (max-width:740px) {
  .visionCard {
    left: -10%;
    top: 31%;
  }
  .features-img {
    left: 40%;
    top: 21%;
  }
}
@media (min-width:560px) and (max-width:640px) {
  .ourVision {
    position: relative;
    height: 90vh;
  }
  .visionCard {
    left: -15%;
    top: 55%;
  }
  .features-img {
    left: 30%;
    top: 14%;
  }
}
@media (min-width:450px) and (max-width:560px) {
  .ourVision {
    position: relative;
    height: 100vh;
  }
  .visionCard {
    left: -15%;
    top: 60%;
  }
  .features-img {
    left: 9%;
    top: 16%;
  }
}
@media (min-width:420px) and (max-width:450px) {
  .ourVision {
    position: relative;
    height: 1300px;
  }
  .visionCard {
    left: -10%;
    top: 56%;
  }
  .features-img {
    left: 9%;
    top: 13%;
  }
}
@media (min-width:350px) and (max-width:420px) {
  .ourVision {
    position: relative;
    height: 1500px;
  }
  .visionCard {
    left: 8%;
    top: 21%;
  }
  .features-img {
    left: 9%;
    top: 11%;
  }
}
@media (min-width:0px) and (max-width:350px) {
  .ourVision {
    position: relative;
    height: 1500px;
  }
  .visionCard {
    left: 8%;
    top: 27%;
  }
  .features-img {
    left: 9%;
    top: 17%;
  }
}

.visionCard span {
  color: rgba(242, 113, 65, 1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: none;
  width: calc(33.333% - 2rem);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* background-color: rgba(201, 216, 255, 1); */
}

.title span {
  font-weight: bold;
  text-align: center;
}

.title img {
  width: 130px;
  height: 110px;
}

.info {
  text-align: center;
  text-wrap: wrap;
  margin-top: 16px;
  color: rgba(121, 121, 121, 1);
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .card {
    width: calc(50% - 2rem); /* Adjust to show 2 cards per row on smaller screens */
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%; /* Adjust to stack cards vertically on very small screens */
  }
}




/*
body {
    font-family: Arial, sans-serif;
    margin: 0;

}
.heading {
    color: #333;
    margin-left: 100px;
    margin-top: 100px;
    padding-top: 50px;
    margin-bottom: 20px;
    font-family: Caveat Brush;
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;

}
.num {

    justify-content: space-between;
    padding: 20px;
}

.num1 {

    width:700px;
    height: 400px;
    border-radius: 20px;
}
.side{
    margin-left: 750px;
    width:500px;
    margin-top: -370px;
    position: absolute;
}

.para {
    font-family: Nunito;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}


.num{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
.heading {
    color: #333;
    margin-left: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
    font-family:cursive;
}
.pic{
  float: left;
  width: 600px;
  padding-left: 5px;
  margin-top: 60px;
  margin-left: 300px;
  position: absolute;
  border-radius: 20px;
  margin-top: 200px;
  cursor:grab;
  height: 200px;
}
.blue{
 float: right;
 width:400px;
 padding-left: 5px;
 margin-top: 60px;
 margin-left: 800px;
 position: absolute;
 border-radius: 10px;
 margin-top: 200px;
 cursor: grab;
 height: 200px;
}
.num1 {
  margin-left:600px ;
  position: absolute;
  width:700px;
  height: 400px;
  border-radius: 20px;
}
.para {
  text-align: center;
  width: 500px;
  margin-left:-100px;
  padding-bottom: 20px;
 }
.pic img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;

}
.blue img{
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.wrapper{
  background-color: whitesmoke;
  display: flex;
  height: 200px;
}

.Icon1{
  max-width: 100%;
  width:198px ;
  height: 83px;
  margin-left: 60px;
  margin-top: 35px;
  border-radius: 2px;
}
.Icon2{
  max-width: 100%;
  width:156px ;
  height: 83px;
  margin-left: 140px;
  margin-top: 35px;
  border-radius: 2px;
}
.Icon3{
  max-width: 100%;
  width:198px ;
  height: 83px;
  margin-left: 150px;
  margin-top: 35px;
  border-radius: 2px;
}
.Icon4{
  max-width: 100%;
  width:198px ;
  height: 83px;
  border-radius: 2px;
  margin-top: 35px;
  margin-left: 130px;
}

.one{
padding-top: 10px;
margin-left: 90px;
}
.two{
  padding-top: 10px;
margin-left: 140px;
}
.three{
  padding-top: 10px;
  margin-left:210px ;
}
.four{
  padding-top: 10px;
  margin-left:170px ;
}


.row{
margin-top: 20px;
}
.container1 {
display: flex;
margin-bottom: 80px;
}
.image-box {
  border: 1px;
  padding: 5px;
  border-radius: 50px;
}
img {
  max-width: 400px;
  height: 250px;
  border-radius: 50px;

}


.container2 {
  margin-bottom:40px;
  font-family: Arial, Helvetica, sans-serif;

}

.p{
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left: 120px;
}
.card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: 80px;
  margin-top: 20px;
  box-sizing: border-box;
}

.card2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-top: 20px;
  margin-left: 10px;
  box-sizing: border-box;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  background-color:whitesmoke;
  width: 520px;
  height: 210px;
  margin-left:80px;
  margin-top: 20px;
  box-sizing: border-box;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: 10px;
  margin-top: 20px;
  position: absolute;
  box-sizing: border-box;
}

.Icon{
  float: left;
  margin: 10px;
  width: 40%;
  max-width: 100%;
  max-height: 110px;
  margin-bottom: 5px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
  justify-content: space-around;
}
h4 {
  margin-left:5px ;
  text-align: start;
  margin-top:50px;
  padding-left: 120px;
  max-width: 80%;
  margin: 0 auto;
} */
