<div class="container">
    <h1>Terms of Service</h1>
    <p>
      These Terms of Service ("Terms") govern your access to and use of the services provided by iCeipts Technology ("iCeipts", "we", "us", or "our"), including but not limited to our websites, platforms, applications, and other services (collectively referred to as the "Services"). By accessing or using our Services, you agree to be bound by these Terms. If you do not agree to these Terms, please refrain from accessing or using our Services.
    </p>
    <h2>1. Account Registration and Use</h2>
    <p>
      1.1 Account Creation: In order to access certain features of our Services, you may be required to register for an account. You agree to provide accurate, current, and complete information during the registration process and to maintain the security of your account credentials.
    </p>
    <p>
      1.2 User Responsibilities: You are responsible for all activities that occur under your account, and you agree to abide by all applicable laws and regulations while using our Services. You must not engage in any unlawful or unauthorized activities, including but not limited to:
    </p>
    <p class = "right">
      - Violating intellectual property rights.
    </p>
    <p class = "right">
      - Transmitting any harmful or malicious content.
    </p>
    <p class = "right">
      - Interfering with the proper functioning of our Services.
    </p>
    <p class = "right">
      - Accessing or attempting to access accounts, data, or systems without authorization.
    </p>
    <h2>2. Intellectual Property Rights</h2>
    <p>
      2.1 Ownership: All content, materials, and features provided through our Services, including but not limited to text, graphics, logos, images, and software, are owned or licensed by iCeipts and are protected by copyright, trademark, and other intellectual property laws.
    </p>
    <p>
      2.2 License: Subject to these Terms, iCeipts grants you a limited, non-exclusive, non-transferable, and revocable license to access and use our Services for your personal or internal business purposes. This license does not permit any resale or commercial use of our Services or their contents.
    </p>
    <h2>3. Privacy</h2>
    <p>
      Your privacy is important to us. Our Privacy Policy governs the collection, use, and disclosure of your personal information. By using our Services, you consent to the collection and use of your information as described in our Privacy Policy.
    </p>
    <h2>4. Third-Party Links and Content</h2>
    <p>
      Our Services may contain links to third-party websites, applications, or content. iCeipts does not endorse or control any third-party content, and we are not responsible for its accuracy, legality, or appropriateness. Your interactions with third-party websites or content are solely between you and the third party.
    </p>
    <h2>5. Limitation of Liability</h2>
    <p>
      5.1 Disclaimer: TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, OUR SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT ANY WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, OR STATUTORY. WE DISCLAIM ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
    </p>
    <p>
      5.2 Limitation of Liability: IN NO EVENT SHALL iCeipts OR ITS AFFILIATES, PARTNERS, OFFICERS, EMPLOYEES, AGENTS, OR LICENSORS BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF PROFITS, REVENUE, DATA, OR USE, INCURRED BY YOU OR ANY THIRD PARTY, ARISING FROM YOUR USE OF OUR SERVICES OR ANY CONTENT, MATERIALS, OR FEATURES PROVIDED THROUGH OUR SERVICES, EVEN IF iCeipts HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    </p>
    <h2>6. Indemnification</h2>
    <p>
      You agree to indemnify, defend, and hold harmless iCeipts and its affiliates, partners, officers, employees, agents, and licensors from any claims, liabilities, damages, losses, costs, or expenses, including reasonable attorneys' fees, arising out of or related to your use of our Services, your violation of these Terms, or your infringement of any third-party rights.
    </p>
    <h2>7. Modifications to Terms</h2>
    <p>
      iCeipts reserves the right to modify or update these Terms at any time without prior notice. Any changes will be effective immediately upon posting to our website. Your continued use of our Services after the posting of revised Terms constitutes your acceptance of the changes.
    </p>
    <h2>8. Governing Law and Dispute Resolution</h2>
    <p>
      These Terms shall be governed by and construed in accordance with the laws of India, without regard to its conflict of law principles. Any dispute arising out of or relating to these Terms or your use of our Services shall be resolved exclusively in the courts of Pune, Maharashtra, India.
    </p>
    <h2>9. Contact Us</h2>
    <p>
      If you have any questions or concerns about these Terms or our Services, please contact us at
      <a href = "contact@iceipts.com" target="_blank"><span>contact@iceipts.com</span></a>.
    </p>
</div>
