<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Hospitality</h1>
              <h5>
                Hospitality ERP systems streamline hotel operations, from reservation and guest services to inventory and financial management, enhancing efficiency and guest satisfaction.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: rgba(245, 222, 179, 0.7);padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Managing Operation</h3>
          <p class="text-justify mb-3 f-15">
            Managing diverse and interconnected operations across hotels, resorts, and other hospitality establishments. These systems streamline and integrate various functions, including reservations, guest services, housekeeping, inventory management, and financial transactions.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/Hospitality-1.jpg" alt="Hospitality" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal mb-5 mt-3">Systems Enhance</h3>
          <p class="text-justify mb-3 f-15">
            Hospitality ERP systems enhance customer experience by facilitating seamless check-ins, managing room assignments, and providing real-time access to guest preferences, ultimately contributing to improved service delivery and guest satisfaction.
          </p>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/Hospitality-2.jpg" alt="Hospitality" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>
