<!-- About us Start -->
<section class="section bg-light">
    <!-- MAIN CONTAINER -->
    <div class="container-fluid">
        <!-- HEADING -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-8 col-sm-10">
                        <div class="title text-center mb-3">
                            <h3 class="font-weight-normal text-dark whychoose">Why Choose <span class="text-warning">iCeipts?</span></h3>
                            <br>
                            <p class="text-muted text-center">We know how difficult it is to run a business, which is why our team of experienced professionals is dedicated to delivering innovative solutions that are tailored specifically for your business needs. Whether you need help with digital design, branding identity, or cloud-based services, we can provide you with the expertise and software necessary to help your business thrive.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


    </div> 

    <div class="container-fluid mt-5"> 
        <!-- [ngStyle]="{'background' :'url(assets/images/whyiceipts.png)'}" -->
        <!-- <img cImg fluid src="assets/images/whyiceipts.png" /> -->
        <!-- <img src="assets/images/whyiceipts.png" alt="" class="img-fluid mx-auto d-block">        -->
        <div class="row">
            <div class="column col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="card">
                    <h3>B2B customer</h3>
                    <div class="testi-border my-4 symbol"></div>
                    <p class="text-muted text-center">The platform offers solution for warranty and maintainance management, ERP, and GST compliance. B2B customer can benefit from iCeipts by streamlining their operations and gaining insights into their business processes. For example, a manufacturer can use iCeipts to manage all of their product warranties.</p>
                </div>
            </div>
          
            <div class="column col-lg-4 col-md-6 col-sm-12 my-3">
              <div class="card">
                <h3>B2C custome</h3>
                <div class="testi-border my-4 symbol"></div>
                <p class="text-muted text-center">B2C customers can manage all of their product warranties on the platform, making it easier for them to claim the guarantee of their products. Not only does iCeipts make the process of claiming warranties and guarantees more convenient for customers, but it also makes it easier for businesses to manage their warranty and guarantee information.</p>
                
              </div>
            </div>
            
            <div class="column col-lg-4 col-md-12 col-sm-12 my-3">
              <div class="card">
                <h3>Digital Receipt</h3>
                <div class="testi-border my-4 symbol"></div>
                <p class="text-muted text-center">Our digital receipt solution is built to make the claiming process more accessible to everyone. Say goodbye to paper warranty and guarantee cards, and say hello to a digital platform that connects you directly to the service center.</p>
                
              </div>
            </div>
        </div>
                         
    </div>
       
                
</section>  



<!-- About us End -->
<!--  -->