<section class="section" id="features">

  <div class="container mt-2">

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="title text-center mt-5 mb-5">
                <h1>Industry</h1>
                <h4>Scalable, Flexible and Customized solutions for industry-specific requirement</h4>
            </div>
        </div>
    </div>

    <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img" >
            <img src="../../../../assets/images/Industry/mining-new.jpg" alt="Mining" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">01</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Mining</h3>
            <p class="mb-3 ">
              The mining industry involves finding and extracting minerals from the earth. The extracted materials are then transformed into a mineralized form that can be used for economic benefit
              <span class = "readMore" [routerLink]="['/industry/mining']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-1 order-md-0">
          <div class="mt-5 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">02</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Retail</h3>
            <p class="mb-3 ">
              Retail ERP systems streamline inventory management by providing real-time visibility into stock levels, tracking merchandise movements, and automating reorder processes.
              <span class = "readMore"  [routerLink]="['/industry/retail']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-0 order-md-1">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/retail.png" alt="Retail" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/super market.jpeg" alt="Super Market" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mb-4 mt-5">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">03</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Super Market</h3>
            <p class="mb-3 ">
              Supermarket ERP systems manage inventory, streamline supply chain, and optimize retail operations, enhancing efficiency and customer satisfaction.
              <span class = "readMore" [routerLink]="['/industry/super-market']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-1 order-md-0">
          <div class="mb-4 mt-5">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">04</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Manufacturing</h3>
            <p class="mb-3 ">
              ERP systems integrate various aspects of manufacturing, including production planning, inventory management, procurement, and order processing. This integration ensures seamless communication
              <span class = "readMore" [routerLink]="['/industry/manufacturing']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-0 order-md-1">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/manufacturing.png" alt="Manufacturing" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/Logistics.png" alt="Logistic" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mb-4 mt-5">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">05</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Logistic</h3>
            <p class="mb-3 ">
              Logistics ERP systems streamline supply chain processes, optimize inventory management, and enhance real-time tracking, ensuring efficient operations and customer satisfaction.
              <span class = "readMore" [routerLink]="['/industry/logistic']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-1 order-md-0">
          <div class="mb-4 mt-5">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">06</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Education</h3>
            <p class="mb-3 ">
              Education ERP systems streamline student information, course management, and financial processes. They enhance communication, facilitate admissions, and integrate learning platforms
              <span class = "readMore" [routerLink]="['/industry/education']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-0 order-md-1">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/education.jpg" alt="Education" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/fashion.jpg" alt="Fashion" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">07</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Fashion</h3>
            <p class="mb-3 ">
              These systems integrate various functions, from design and production to inventory management, sales, and distribution. Fashion ERP systems enable efficient collaboration among different departments,
              <span class = "readMore"  [routerLink]="['/industry/fashion']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-1 order-md-0">
          <div class="mb-4 mt-5">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">08</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Facilities Management</h3>
            <p class="mb-3 ">
              Facilities ERP systems provide a centralized platform for overseeing day-to-day operations, optimizing resource utilization, and enhancing overall efficiency.
              <span class = "readMore" [routerLink]="['/industry/facilities-management']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-0 order-md-1">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/facilities.jpg" alt="Facilities Management" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/healthcare.png" alt="Healthcare" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">09</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Healthcare</h3>
            <p class="mb-3 ">
              Integrate patient data, streamline operations, and ensure compliance with regulations. From appointment scheduling to financial management, they enhance efficiency, data security, and overall patient care.
              <span class = "readMore" [routerLink]="['/industry/healthcare']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-1 order-md-0">
          <div class="mt-5 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">10</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Food And Beverage</h3>
            <p class="mb-3 ">
              Food and beverage ERP systems streamline production, inventory, and distribution processes, ensuring efficient operations and compliance with industry regulations.
              <span class = "readMore" [routerLink]="['/industry/food-and-beverages']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-0 order-md-1">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/food.png" alt="food And Beverage" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/Hospitality.png" alt="Hospitality" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <span style = "color:#FC7643;font-size: 55px;float: right;">11</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Hospitality</h3>
            <p class="mb-3 ">
              Hospitality ERP systems streamline hotel operations, from reservation and guest services to inventory and financial management, enhancing efficiency and guest satisfaction.              <span class = "readMore" [routerLink]="['/industry/hospitality']">Read more</span>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<app-footerwala></app-footerwala>











