<section class="section" id="features">

  <div class="container mt-2">

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="title text-center mt-5 mb-5">
                <h1>Industry</h1>
                <h4>Scalable, Flexible and Customized solutions for industry-specific requirement</h4>
            </div>
        </div>
    </div>

    <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img" >
            <img src="../../../../assets/images/Industry/mining-new.jpg" alt="Mining" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mt-sm-0 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-laptop-mac" style = "font-size: 60px;"></i> -->
              <!-- <img src="../../../../assets/images/Industry/mining-icon-2.png" alt = "mining-icon" class = "img-fluid" style = "width: 60px;height:60px;"> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">01</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Mining</h3>
            <p class="text-justify mb-3 f-15">
              The mining industry involves finding and extracting minerals from the earth. The extracted materials are then transformed into a mineralized form that can be used for economic benefit
              <span class = "readMore" [routerLink]="['/industry/mining']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-sm-last order-md-first">
          <div class="mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-account-group" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">02</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Education</h3>
            <p class="text-justify mb-3 f-15">
              Education ERP systems streamline student information, course management, and financial processes. They enhance communication, facilitate admissions, and integrate learning platforms
              <span class = "readMore" [routerLink]="['/industry/education']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/education.jpg" alt="Education" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/healthcare.png" alt="Healthcare" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mt-sm-0 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-laptop-mac" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">03</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Healthcare</h3>
            <p class="text-justify mb-3 f-15">
              integrate patient data, streamline operations, and ensure compliance with regulations. From appointment scheduling to financial management, they enhance efficiency, data security, and overall patient care.
              <span class = "readMore" [routerLink]="['/industry/healthcare']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-sm-last order-md-first">
          <div class="mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-account-group" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">04</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Super Market</h3>
            <p class="text-justify mb-3 f-15">
              Supermarket ERP systems manage inventory, streamline supply chain, and optimize retail operations, enhancing efficiency and customer satisfaction.
              <span class = "readMore" [routerLink]="['/industry/super-market']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/super market.jpeg" alt="Super Market" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/retail.png" alt="Retail" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mt-sm-0 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-laptop-mac" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">05</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Retail</h3>
            <p class="text-justify mb-3 f-15">
              Retail ERP systems streamline inventory management by providing real-time visibility into stock levels, tracking merchandise movements, and automating reorder processes. This ensures that retailers can meet customer demand efficiently while minimizing stockouts and excess inventory
              <span class = "readMore"  [routerLink]="['/industry/retail']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-sm-last order-md-first">
          <div class="mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-account-group" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">06</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Manufacturing</h3>
            <p class="text-justify mb-3 f-15">
              ERP systems integrate various aspects of manufacturing, including production planning, inventory management, procurement, and order processing. This integration ensures seamless communication and data flow between different departments, leading to improved coordination and streamlined processes.
              <span class = "readMore" [routerLink]="['/industry/manufacturing']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/manufacturing.png" alt="Manufacturing" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/fashion.jpg" alt="Fashion" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mt-sm-0 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-laptop-mac" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">07</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Fashion</h3>
            <p class="text-justify mb-3 f-15">
              These systems integrate various functions, from design and production to inventory management, sales, and distribution. Fashion ERP systems enable efficient collaboration among different departments,
              <span class = "readMore"  [routerLink]="['/industry/fashion']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-sm-last order-md-first">
          <div class="mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-account-group" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">08</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Logistic</h3>
            <p class="text-justify mb-3 f-15">
              Logistics ERP systems streamline supply chain processes, optimize inventory management, and enhance real-time tracking, ensuring efficient operations and customer satisfaction.
              <span class = "readMore" [routerLink]="['/industry/logistic']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/Logistics.png" alt="Logistic" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/Hospitality.png" alt="Hospitality" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mt-sm-0 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-laptop-mac" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">09</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Hospitality</h3>
            <p class="text-justify mb-3 f-15">
              Hospitality ERP systems streamline hotel operations, from reservation and guest services to inventory and financial management, enhancing efficiency and guest satisfaction.              <span class = "readMore" [routerLink]="['/industry/hospitality']">Read more</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-6 order-sm-last order-md-first">
          <div class="mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-account-group" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">10</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Facilities Management</h3>
            <p class="text-justify mb-3 f-15">
              Facilities ERP systems provide a centralized platform for overseeing day-to-day operations, optimizing resource utilization, and enhancing overall efficiency.
              <span class = "readMore" [routerLink]="['/industry/facilities-management']">Read more</span>
            </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/facilities.jpg" alt="Facilities Management" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-5 order-sm-first order-md-first">
          <div class="features-img">
            <img src="../../../../assets/images/Industry/food.png" alt="food And Beverage" class="img-fluid d-block mx-auto" style = "border-radius: 0 20% 0 50%;height: 300px;width: 300px;">
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
          <div class="mt-5 mt-sm-0 mb-4">
            <div class="mt-4" style = "display: flex;justify-content: space-between;align-items: center;">
              <!-- <i class="mdi mdi-laptop-mac" style = "font-size: 60px;"></i> -->
              <span style = "color:#FC7643;font-size: 55px;float: right;">11</span>
            </div>
            <h3 class="text-dark font-weight-normal mb-3 pt-3">Food And Beverage</h3>
            <p class="text-justify mb-3 f-15">
              Food and beverage ERP systems streamline production, inventory, and distribution processes, ensuring efficient operations and compliance with industry regulations.
              <span class = "readMore" [routerLink]="['/industry/food-and-beverages']">Read more</span>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<app-footerwala></app-footerwala>

<!-- <div class="row align-items-center">
    <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
        <div class="features-img">
            <img src="assets/images/features/warranty-management.png" alt="" class="img-fluid d-block mx-auto">
        </div>
    </div>
    <div class="col-md-6 offset-md-1 order-last order-sm-0">
        <div class="features-box mt-5 mt-sm-0 mb-4">
            <div class="features-icon my-4">
                <i class="mdi mdi-laptop-mac"></i>
            </div>
            <h5 class="text-dark font-weight-normal mb-3 pt-3">Warranty/Maintenance Management</h5>
            <h5 class="text-dark font-weight-normal mb-3 pt-3">Warranty And Guarantee Management</h5>
            <p class="text-muted text-justify mb-3 f-15">Warranty management is an important part of any
                business. It helps companies to ensure that their products and services are delivered in a
                timely and cost-effective manner. With the help of warranty management, businesses can easily
                keep track of their warranties, manage claims, and provide customers with the best possible
                service,</p>
            <a class="f-16 text-primary" routerLink="/moreinfo/wgmanagement">Read More <span
                    class="right-icon ml-2">&#8594;</span></a>
        </div>
    </div>
</div>

<div class="row align-items-center mt-5">
    <div class="col-md-6 order-last order-sm-0">
        <div class="features-box mb-4">
            <div class="features-icon my-4">
                <i class="mdi mdi-account-group"></i>
            </div>
            <h5 class="text-dark font-weight-normal mb-3 pt-3">ERP</h5>
            <p class="text-muted text-justify mb-3 f-15">Enterprise resource planning (ERP) is a business
                process management system that enables companies to manage their operations and resources more
                efficiently. It helps businesses streamline their processes, increase productivity, reduce
                costs, and improve customer service. ERP software can be used to manage tasks such as</p>
            <a routerLink="/moreinfo/erp" class="f-16 text-primary">Read More <span
                    class="right-icon ml-2">&#8594;</span></a>
        </div>
    </div>
    <div class="col-md-5 offset-md-1 mt-5 mt-sm-0"
        style="background: url(assets/images/features/features-bg.png) center center">
        <div class="features-img">
            <img src="assets/images/features/erp.png" alt="" class="img-fluid d-block mx-auto">
        </div>
    </div>
</div> -->




<!--
<section class="section mt-5 section1">
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-4 col-md-12">
                <div class="title mt-5 mb-5">
                    <h3 class="font-weight-normal text-white head3">Warranty/Guarantee</h3>
                    <h3 class="font-weight-normal text-white head3">&nbsp;&nbsp;Management</h3>
                    <p class="text-muted text-justify my-3">Warranty Management had been traditionally viewed by companies as a cost of doing business. The costs of warranty management were found to be costing between 4 to 5 percent of the total sales revenue of the company per annum and were considered to be the cost of providing customer satisfaction and as an opportunity to building customer relationship.</p>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="features-img imag1">
                    <img src="assets/images/features/WGA.png" alt="" class="imag2 img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 ">
                <div class="title text-center mt-3 mb-5">
                    <h3 class="font-weight-normal text-dark">Key Features of <span class="text-warning">Warranty/Guarantee Management?</span></h3>
                  </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/WG1.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">Effective warranty management helps businesses to build trust and loyalty with their customers.
                   Companies that fail to manage their warranties effectively risk losing customers, as well as incurring costly legal liabilities.
                   Overall, ML has the potential to transform warranty and maintenance management, enabling companies to provide better service, reduce costs, and improve customer satisfaction.</p>

                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center  justify-content-center mt-5">

            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">The use of ML in warranty management has become increasingly popular due to its ability to automate and improve processes.
                        ML-based tools can help companies to identify warranty issues quickly and take proactive steps to resolve them.
                        ML algorithms can analyze data from sensors and other sources to identify potential issues before they become major problems.
                    </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/WG2.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/WG3.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">By analyzing warranty data, ML algorithms can help companies identify patterns
                        and trends that can inform product design and development.
                        ML-based tools can also help businesses to provide better customer service by providing personalized support and automating the claims process.</p>

                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-center mt-5">

            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">With the help of ML, businesses can reduce the cost and time associated with warranty management, freeing up resources for other critical areas.
                        In addition to warranty management, ML can also be used for predictive maintenance, which helps companies to avoid equipment failure and downtime.
                    </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/WG4.png" alt="" class="img-fluid d-block mx-auto" style="width:500px; height
                    :300px">
                </div>
            </div>
        </div>
    </div>
</section> -->






