<!-- <section class = "Projects" style = "background: rgba(247, 247, 250, 1);margin-top: 30px;">

  <div class = "container-fluid">
    <div class="row" style = "display: flex;justify-content: center;align-items: center;">
      <h2 class = "heading">Our Recent <br /> Real Time Projects</h2>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets\images\features\scan1.png" class="image" style = "width:100%;height:300px">
        <h3>FIFM</h3>
        <p class="para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#">Learn More</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets\images\features\scan2.png" class="image" style = "width:300px;height:300px">
        <h2>Crusher Unit</h2>
        <p class="para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#">Learn More</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img src="assets\images\features\scan3.png" class="image" style = "width:300px;height:300px">
        <h2>Transporting</h2>
        <p class="para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>

</section> -->

<section class = "Projects" style = "background: rgba(247, 247, 250, 1);margin-top: 30px;">

  <div class = "container-fluid">
    <div class="row" style = "display: flex;justify-content: center;align-items: center;text-align: center;">
      <h2 class = "heading" style = "margin-top: 50px;">Our Recent <br /> Real Time Projects</h2>
    </div>
    <div class="row" style = "display: flex;justify-content: space-evenly;align-items: center;flex-wrap: wrap;margin-top: 50px;cursor: pointer;">
      <div class = "currentProjects" style = "display: flex;flex-direction: column;align-items: center;flex-basis: 300px;margin-bottom: 40px;">
        <img src="assets\images\features\scan1.png" class="img-fluid" style = "padding: 8px 16px;height: 200px;">
        <h3 style = "margin: 8px 0px;">FIFM</h3>
        <p class="para" style = "text-align: justify;margin-bottom: 20px;padding: 8px 16px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#" style = "margin-bottom: 10px;">Learn More</a>
      </div>
      <div class = "currentProjects" style = "display: flex;flex-direction: column;align-items: center;flex-basis: 300px;margin-bottom: 40px;cursor: pointer;">
        <img src="assets\images\features\scan2.png" class="img-fluid" style = "padding: 8px 16px;height: 200px;">
        <h3 style = "margin: 8px 0px;">Crusher Unit</h3>
        <p class="para" style = "text-align: justify;margin-bottom: 20px;padding: 8px 16px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#" style = "margin-bottom: 10px;">Learn More</a>
      </div>
      <div class = "currentProjects" style = "display: flex;flex-direction: column;align-items: center;flex-basis: 300px;margin-bottom: 40px;cursor: pointer;">
        <img src="assets\images\features\scan3.png" class="img-fluid" style = "padding: 8px 16px;height: 200px;">
        <h3 style = "margin: 8px 0px;">Transporting</h3>
        <p class="para" style = "text-align: justify;margin-bottom: 20px;padding: 8px 16px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#" style = "margin-bottom: 10px;">Learn More</a>
      </div>
    </div>
  </div>

</section>






<!-- <div class="bg">

		<h2 class="heading">Our Recent</h2>
		<h2 class="heading">Real Time Projects</h2>

<section class="num">
	<div class="num1">
		<img src="assets\images\features\scan1.png" class="image">
		<h2>FIFM</h2>
		<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua
		</p>
		<a href="#">Learn More</a>
	</div>
	<div class="num1">
		<img src="assets\images\features\scan2.png" class="image">
		<h2>Crusher Unit</h2>
		<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua
		</p>
		<a href="#">Learn More</a>
	</div>
	<div class="num1">
		<img src="assets\images\features\scan3.png" class="image">
		<h2>Transporting</h2>
		<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua
		</p>
		<a href="#">Learn More</a>
	</div>
</section>
</div> -->








<!-- <section class="section" id="services">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center my-2 mb-5">
                    <h3 class="font-weight-normal text-dark">Our <span class="text-warning">Services</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-blue">
                    <div class="mb-5">
                        <i class="pe-7s-headphones service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Awesome Support</h5>
                    <p class="text-muted service-subtitle mb-4">At our company, we believe in offering awesome support to our customers. We provide a wide range of services and software solutions that are cloud-based and easy to use.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-blue">
                    <div class="mb-5">
                        <i class="pe-7s-tools service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Solutions Business</h5>
                    <p class="text-muted service-subtitle mb-4"> Our team of experienced professionals is dedicated to delivering innovative solutions that are tailored specifically for your business. Our experts can help you anytime.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-blue">
                    <div class="mb-5">
                        <i class="pe-7s-display1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Digital Design</h5>
                    <p class="text-muted service-subtitle mb-4">Our team of experienced professionals is equipped with the latest software to create stunning designs that are tailored to our clients' needs. Our experts can help you anytime.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-blue">
                    <div class="mb-5">
                        <i class="pe-7s-cup service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Goal Business</h5>
                    <p class="text-muted service-subtitle mb-4">Our cloud-based services are tailored to the needs of each company, and our team of experts is dedicated to ensuring that every customer gets the most out of our software.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-blue">
                    <div class="mb-5">
                        <i class="pe-7s-light service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Branding Identity</h5>
                    <p class="text-muted service-subtitle mb-4">Our cloud-based solutions ensure that customers have access to all the necessary information and resources they need in order to build an effective brand identity.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-blue">
                    <div class="mb-5">
                        <i class="pe-7s-graph1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Dynamic Growth</h5>
                    <p class="text-muted service-subtitle mb-4">Using cloud-based software solutions can also help you save time by streamlining processes, eliminating manual tasks, and providing better insights into customer behavior.</p>

                </div>
            </div>
        </div>
    </div>
</section> -->
