@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");


.heading {
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 52px;
  color: rgba(26, 32, 44, 1);
}

h3, a {
  font-family: 'Poppins', sans-serif;
}

a {
  font-size: 18px;
}

.para {
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.currentProjects:hover {
  background: white;
  border-radius: 10px;
  transform: scale(1.08);
}

.currentProjects a {
  color: black;
  text-decoration:underline !important;
}

.currentProjects:hover a {
  color: blue;
}

hr {
  width: 69px;
  height: 5px;
  border: none;
  background: linear-gradient(to right, rgba(242, 113, 65, 1), rgba(17, 1, 82, 1));
}
