@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");


.heading {
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 52px;
  color: rgba(26, 32, 44, 1);
}

.para {
  /* text-align: justify; */
  /* padding: 15px; */
  /* width: 500px; */
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.currentProjects:hover {
  background: white;
  border-radius: 10px;
  transform: scale(1.08);
}

.currentProjects a {
  color: black;
  text-decoration:underline !important;
}

.currentProjects:hover a {
  color: blue;
}



/* .bg {
  background: rgba(247, 247, 250, 1);
}
.heading {
  text-align: center;
  margin-top: 20px;
  font-family: "Permanent Marker", cursive;
}
.num {
  display: flex;
  text-align: center;
  margin-top: 80px;
  justify-content: center;
}
.num1 {
  height: 500px;
  width: 450px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.image {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  margin-top: 40px;
}
.para {
  font-size: 16px;
  font-family: sans-serif;
  color: #414542;
  padding-left: 20px;
  padding-right: 20px;
}
.link {
  color: black;
}
div:hover {
  transform: scale(1.08);
  background-color: white;
}
div:hover a {
  transform: scale(1.08);
  background-color: white;
  color: blue;
}
@media only screen and (min-width: 200px) and(max-width:800px) {
  .heading,
  .num,
  .num1,
  .image,
  .para {
    width: 100%;
  }
} */
