<div class="container-fluid">
  <!-- <img src = "../../../../assets/images/featureBackground.png" class = "img-fluid"> -->
  <div>
    <div class="title text-center my-5">
      <hr />
      <h2 class = "heading">Featured</h2>
    </div>
    <div class="slider-container">

      <div class="feature-section" id="featureSection">
        <img src="../../../../assets/images/features/warranty-management.png" alt="Feature 1" width = 250 height = 200>
        <div class="feature-content">
          <p>Warranty And  Guarantee Management</p>
          <a class="f-16 text-primary" routerLink="/moreinfo/wgmanagement">Read More <span
            class="right-icon ml-2">&#8594;</span></a>
        </div>
      </div>

      <div class="feature-section" id="featureSection">
        <img src="../../../../assets/images/features/employee-management.png" alt="Feature 2" width = 250 height = 200>
        <div class="feature-content">
          <p>Employee Management</p>
          <a routerLink="/moreinfo/empmanagement" class="f-16 text-primary">Read More <span
            class="right-icon ml-2">&#8594;</span></a>
        </div>
      </div>


      <div class="feature-section" id="featureSection">
        <img src="../../../../assets/images/features/scan-and-pay.png" alt="Feature 3" width = 250 height = 200>
        <div class="feature-content">
          <p>Scan And Pay</p>
          <a routerLink="/moreinfo/scanpay" class="f-16 text-primary">Read More <span
            class="right-icon ml-2">&#8594;</span></a>
        </div>
      </div>

      <div class="feature-section" id="featureSection">
        <img src="../../../../assets/images/features/erp.png" alt="Feature 4" width = 250 height = 200>
        <div class="feature-content">
          <p>ERP</p>
          <a routerLink="/moreinfo/erp" class="f-16 text-primary">Read More <span
            class="right-icon ml-2">&#8594;</span></a>
        </div>
      </div>

      <div class="feature-section" id="featureSection">
        <img src="../../../../assets/images/features/self-checkout.png" alt="Feature 5" width = 250 height = 200>
        <div class="feature-content">
          <p>Self-Checkout</p>
          <a routerLink="/moreinfo/selfcheckout" class="f-16 text-primary">Read More <span
            class="right-icon ml-2">&#8594;</span></a>
        </div>
      </div>

    </div>
  </div>

</div>






<!-- <section class="section bg-backf" id="features">
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mt-5 mb-5">
                    <h3 class="font-weight-normal text-dark">Our <span class="text-warning">Features</span></h3>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/warranty-management.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-laptop-mac"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Warranty And Guarantee Management</h5>
                    <p class="text-muted text-justify mb-3 f-15">Warranty management is an important part of any
                        business. It helps companies to ensure that their products and services are delivered in a
                        timely and cost-effective manner. With the help of warranty management, businesses can easily
                        keep track of their warranties, manage claims, and provide customers with the best possible
                        service,</p>
                    <a class="f-16 text-primary" routerLink="/moreinfo/wgmanagement">Read More <span
                            class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>


        <div class="row align-items-center mt-5">
            <div class="col-md-6 order-last order-sm-0">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">ERP</h5>
                    <p class="text-muted text-justify mb-3 f-15">Enterprise resource planning (ERP) is a business
                        process management system that enables companies to manage their operations and resources more
                        efficiently. It helps businesses streamline their processes, increase productivity, reduce
                        costs, and improve customer service. ERP software can be used to manage tasks such as</p>
                    <a routerLink="/moreinfo/erp" class="f-16 text-primary">Read More <span
                            class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0"
                style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/erp.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/gst.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">GST</h5>
                    <p class="text-muted text-justify mb-3 f-15">GST is an important part of doing business in India. It
                        is a complex system that requires businesses to keep accurate records of their invoices,
                        billing, and other financial information. With the advent of technology, GST compliance can now
                        be done more efficiently with automated calculations and website integration. This article will
                        discuss </p>
                    <a routerLink="/moreinfo/gst" class="f-16 text-primary">Read More <span
                            class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6 order-last order-sm-0">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Scan And Pay</h5>
                    <p class="text-muted text-justify mb-3 f-15">In today's digital world, the convenience of paying for
                        goods and services has become much easier. With the introduction of scan and pay apps like
                        Paytm, PhonePe and Gpay, customers can now make payments quickly and securely. Scan and pay apps
                        provide a secure platform for customers to make payments without having to carry cash </p>
                    <a routerLink="/moreinfo/scanpay" class="f-16 text-primary">Read More <span
                            class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0"
                style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/scan-and-pay.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/employee-management.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Employee Management</h5>
                    <p class="text-muted text-justify mb-3 f-15">Employee management is a key factor in the success of
                        any company. It involves recruiting the right people, setting salaries, providing transport and
                        health benefits, managing layoffs, and creating a positive culture. All these aspects need to be
                        managed carefully and strategically to ensure that the company runs smoothly. The hiring </p>
                    <a routerLink="/moreinfo/empmanagement" class="f-16 text-primary">Read More <span
                            class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6 order-last order-sm-0">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Self-Checkout</h5>
                    <p class="text-muted text-justify mb-3 f-15">Self-checkout is a convenient and efficient way to shop
                        from the comfort of your own home. With this technology, customers can quickly and easily
                        purchase items without having to wait in line or interact with a clerk. It also eliminates the
                        need for store employees to manually scan each item. Self-checkout is an end-to-end process that
                    </p>
                    <a routerLink="/moreinfo/selfcheckout" class="f-16 text-primary">Read More <span
                            class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0"
                style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/self-checkout.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </div>
</section> -->
