@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");


.ERP {
  font-family: 'Poppins', sans-serif;
}

.heading {
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 52px;
  color: rgba(26, 32, 44, 1);
}

.content {
  color: rgba(25, 24, 37, 0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  text-align:left;
  padding: 0px 30px;
}

hr {
  width: 69px;
  height: 5px;
  border: none;
  background: linear-gradient(to right, rgba(242, 113, 65, 1), rgba(17, 1, 82, 1));
}

.erpDataList {
  display: flex;
  align-items: center;
  text-align: center;
}

.erpData {
  display: flex;
  padding:10px;
  border: 1px solid rgba(231, 218, 237, 1);
}

@media (min-width: 0px) and (max-width: 991px) {
  .erpData {
    display: flex;
    flex-direction: column;
  }
}

