<section class = "ERP mt-3 bg-white">
  <div class="container">
    <div class="row" style = "display: flex;justify-content: center;align-items: center;text-align: center;">
      <h2 class = "heading" style = "margin-top: 50px;">
        <hr />
        Our ERP and <br /> business  approach
      </h2>
    </div>
    <div class="row mt-5" style = "display: flex;align-items: center;text-align: center;">
      <div class="col-md-6 col-sm-12 mt-4">
        <div style = "display: flex;padding:10px;border: 1px solid rgba(231, 218, 237, 1);">
          <img src="assets\images\planning.png" class="img-fluid"
            style = "padding: 0px 20px 20px 20px;height:110px;width:110px;margin-bottom: auto;">
          <div>
              <h4 style = "text-align:left;padding-left: 30px;">Strategic Planning</h4>
              <p class = "content">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-4">
        <div style = "display: flex;padding: 10px;border: 1px solid rgba(231, 218, 237, 1);">
          <img src="assets\images\b_2_b.png" class="img-fluid" style = "padding: 0px 20px 20px 20px;height:110px;width:110px;margin-bottom: auto;">
          <div>
              <h4 style = "text-align:left;padding-left: 30px;">B2B customer</h4>
              <p class = "content">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code.
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-4">
        <div style = "display: flex;padding: 10px;border: 1px solid rgba(231, 218, 237, 1);">
          <img src="assets\images\bill.png" class="img-fluid" style = "padding: 0px 20px 20px 20px;height:110px;width:110px;margin-bottom: auto;">
          <div>
              <h4 style = "text-align:left;padding-left: 30px;">Digital Receipt</h4>
              <p class = "content">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-4">
        <div style = "display: flex;padding: 10px;border: 1px solid rgba(231, 218, 237, 1);">
          <img src="assets\images\analysis.png" class="img-fluid" style = "padding: 0px 20px 20px 20px;height:110px;width:110px;margin-bottom: auto;">
          <div>
              <h4 style = "text-align:left;padding-left: 30px;">Advanced Analytics</h4>
              <p class = "content">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-4">
        <div style = "display: flex;padding: 10px;border: 1px solid rgba(231, 218, 237, 1);">
          <img src="assets\images\b_2_c.png" class="img-fluid" style = "padding: 0px 20px 20px 20px;height:110px;width:110px;margin-bottom: auto;">
          <div>
              <h4 style = "text-align:left;padding-left: 30px;">B2C customer</h4>
              <p class = "content">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-4">
        <div style = "display: flex;padding: 10px;border: 1px solid rgba(231, 218, 237, 1);">
          <img src="assets\images\growth.png" class="img-fluid" style = "padding: 0px 20px 20px 20px;height:110px;width:110px;margin-bottom: auto;">
          <div>
              <h4 style = "text-align:left;padding-left: 30px;">Dynamic Growth</h4>
              <p class = "content">
                Unlike other companies, we are a UX first development company.
                Projects are driven by designers and they make sure design and
                experiences translate to code
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

