
  .container5{
    max-width: 100%;
    width: 1170px;
    margin: auto;
    height:800px ;
  }

  row{
    display: flex;
  }

.card1{
  box-sizing: border-box;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: 50px;
  margin-top: -10px;
}

.card2{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: 230px;
  margin-top: -10px;

}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  background-color:whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: -170px;
  margin-top: 280px;

}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: 50px;
  margin-top: -240px;
  position: absolute;

}

.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
 margin-left: -350px;
  position: absolute;
  margin-top: 50px;

}


.card6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: whitesmoke;
  width: 520px;
  height: 210px;
  margin-left: -170px;
  margin-top: 50px;
  position: absolute;

}

p {
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 120px;
}

h5 {
  margin-left:5px ;
  text-align: start;
  margin-top: auto;
  padding-left: 120px;
}

.Icon{
  float: left;
  margin: 10px;
  width: 40%;
  max-width: 60px;
  max-height: 100px;
  margin-bottom: 5px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
  justify-content: space-around;
}
h4 {
  margin-left:5px ;
  text-align: start;
  margin-top: auto;
  padding-left: 120px;
  max-width: 80%;
  margin: 0 auto;
}





















/*
p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
    display: block;
}

.aboutImg {
    width:100% !important;
    display: block;
}

.aboutus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.img-fluid1{
    height: 60% !important;
}



@media (min-width: 768px) and (max-width: 991px) {
}


@media (min-width: 200px) and (max-width: 768px) {

}



.vision {
    display: flex;
    align-items: center;
    justify-content: center;
}

.founderPic {
    width: 100% !important;
    display: block;
}



.whyHeading {
    width: 50%;
    margin:auto;
}


.icons {
    width: 20%;
    display: inline;
    margin:0px;
    padding:0px;
  }

  @media (min-width: 200px) and (max-width: 768px) {
    .whyHeading {
        width: 100%;
        margin:auto;
    }

    .icons {
        width: 15%;
        display: inline;
        margin:0px;
        padding:0px;
      }

  }

  @media (min-width: 768px) and (max-width: 991px) {
    .whyHeading {
        width: 100%;
        margin:auto;
    }

    .icons {
        width: 5%;
        display: inline;
        margin:0px;
        padding:0px;
      }

  }
   */
