<div appScrollspy>

  <section style = "padding: 70px 0 0 !important;" id="home">
    <div class="container-fluid">

      <img
          src = "../../assets/images/oneRoof.png"
          alt = "Blue tie around the 'one roof' word in heading."
          width = "230" height = "100"
          class="tie"
        >
      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-6 left-section">
          <div class = "heading" style = "margin: 70px 0px 0px 50px;">
            Manage all your business under one roof.
          </div><br />
          <div class = "subHeading" style = "margin: 30px 90px 0px 50px;">
            We always make our customer happy by providing as may choices as possible.<br />
          </div>
          <div class = "mobileApp" style = "margin: 100px 0px 10px 50px;">
            <button class="btn text-white appbutton"
              onclick=" window.open('https://web.iceipts.com/#/auth/login','_blank')" target="_blank">
                Let's get started !
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 right-section">
          <div class="carousel-container">
            <ngb-carousel [interval]="0" (slide)="onSlide($event.current)" class="custom-carousel" style = "display: flex;justify-content: center;align-items: center;">
              <ng-template ngbSlide *ngFor="let image of images; let i = index">
                <img [src]="image" alt="Slide {{ i + 1 }}" class="sliderImages">
              </ng-template>
            </ngb-carousel>
            <div class="progress-container">
              <div class="progress-bar" [style.width]="progressPercentage + '%'" [ngClass]="{'progressColor': progressPercentage}"></div>
              <span class = "firstNumber">{{ (+this.temp + 1) | number:'2.0' }}</span>
              <span class = "lastNumber">{{ this.totalSlides | number:'2.0' }}</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</div>

<app-whyiceiptwala></app-whyiceiptwala>
<app-servicewala></app-servicewala>
<app-aboutwala></app-aboutwala>
<app-featurewala></app-featurewala>
<app-clientwala></app-clientwala>
<app-contactwala></app-contactwala>
<app-footerwala></app-footerwala>
