<div class="container-fluid mt-5">

  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Manufacturing</h1>
              <h5>
                ERP systems integrate various aspects of manufacturing, including production planning, inventory management, procurement, and order processing. This integration ensures seamless communication and data flow between different departments, leading to improved coordination and streamlined processes.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal my-3">Production Planning And Scheduling</h3>
          <p class="mb-3 ">
            ERP systems enable manufacturers to create accurate production plans and schedules. By considering factors such as resource availability, capacity constraints, and order priorities, these systems help in optimizing production processes and meeting delivery deadlines.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/manufacturing-1.jpg" alt="Manufacturing" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal my-3">Forecasting And Demand Planning</h3>
          <p class="mb-3 ">
            ERP systems incorporate forecasting and demand planning tools, enabling manufacturers to anticipate customer demand, align production accordingly, and maintain optimal inventory levels to prevent stockouts or excess inventory.
          </p>
          <button class="btn btn-warning" style = "height: 35px;display: flex;align-items: center;" onclick=" window.open('https://web.iceipts.com/#/auth/login','_blank')" target="_blank">Try Free</button>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/manufacturing-2.jpg" alt="Manufacturing" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>

