<div class="container-fluid mt-5">

  <div class="row headingMessage">
      <div class="col-lg-6 col-md-8">
          <div class="title text-center mt-5 mb-5">
              <h1>Mining</h1>
              <h5>
                The mining industry involves finding and extracting minerals from the earth. The extracted materials are then transformed into a mineralized form that can be used for economic benefit.
              </h5>
          </div>
          <div>
            <img src = "../../../../assets/images/comma2.png" alt = "left-comma" class = "leftComma">
            <img src = "../../../../assets/images/comma2.png" alt = "right-comma" class = "rightComma">
            <img src = "../../../../assets/images/bracket.png" alt = "left-bracket" class = "img-fluid leftBracket">
            <img src = "../../../../assets/images/bracket.png" alt = "right-bracket" class = "img-fluid rightBracket">
          </div>
      </div>
  </div>

  <div class = "container" style = "background-color: #F4F0EC;padding: 60px;border-radius: 50px;">

    <div class="row align-items-center mt-5">
      <div class="col-md-6 order-sm-last order-md-first">
        <div class="mb-4">
          <h3 class="text-dark font-weight-normal my-3">Integration Of Geospatial Data</h3>
          <p class="mb-3 ">
            ERP systems in mining often integrate with geospatial technologies to manage and analyze spatial data related to mining operations, mineral deposits, and exploration activities.
          </p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order-sm-first order-md-last">
        <div class="features-img">
          <img src="../../../../assets/images/Industry/mining-1.jpg" alt="Mining" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-md-6 offset-md-1 order-sm-last order-md-last">
        <div class="mt-5 mt-sm-0 mb-4">
          <h3 class="text-dark font-weight-normal my-3">Data Analytics And Reporting</h3>
          <p class="mb-3 ">
            Utilizing data analytics tools within ERP systems enables mining companies to analyze production data, track key performance indicators (KPIs), and generate reports for informed decision-making.
          </p>
          <button class="btn btn-warning" style = "height: 35px;display: flex;align-items: center;" onclick=" window.open('https://web.iceipts.com/#/auth/login','_blank')" target="_blank">Try Free</button>
        </div>
      </div>
      <div class="col-md-5 order-sm-first order-md-first">
        <div class="features-img" >
          <img src="../../../../assets/images/Industry/mining-2.jpg" alt="Mining" class="img-fluid d-block mx-auto" width = "500" height = "300" style="border-radius: 40px;">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footerwala></app-footerwala>
