
<section class="section mt-5 section1">
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-4 col-md-12">
                <div class="title mt-5 mb-5">
                    <h3 class="font-weight-normal text-white head3">Self-Checkout</h3>
                    <p class="text-muted text-justify my-3">A system that enables customers in a shop, especially a supermarket, to scan and pay for goods without help from a shop assistant
                        Many customers now use their mobile devices for self-checkout.</p>
                
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="features-img imag1">
                    <img src="assets/images/features/SCA.png" alt="" class="imag2 img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <!-- <div class="row align-items-center mt-5">
            <div class="col-md-4 offset-md-4 order-last order-sm-0">
                
            </div>
        </div> -->
    </div>
</section>

<section class="section">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 ">
                <div class="title text-center mt-3 mb-5">
                    <h3 class="font-weight-normal text-dark">Key Features of <span class="text-warning">Self-Checkout</span></h3>
                  </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/SC1.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">
                        Self-checkout technology is revolutionizing the way we shop. It makes it easier and faster to pay for our purchases, saving us time and eliminating the need to stand in long queues. With self-checkout, shoppers can quickly check out their items without waiting in line, allowing them to get on with their day faster.
 Furthermore, it eliminates human errors and helps retailers reduce their operational costs.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center  justify-content-center mt-5">
            
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">The technology also enables shoppers to check the price of products on their mobile phones before they make a purchase, making it easier to compare prices and ensuring they get the best deal. Furthermore, self checkout allows for a stress free shopping experience as shoppers don't have to worry about forgetting items or losing track of what they have bought</p>
                    
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/SC2.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="features-img">
                    <img src="assets/images/features/SC3.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 order-last order-sm-0">
                <div class="features-box mt-5 mt-sm-0">
                    <p class="text-justify">All in all, self checkout is an efficient way of shopping that saves time and provides an enjoyable experience for customers.
                        Self-checkout is an advanced technology that has revolutionized the retail industry. It enables customers to quickly and easily purchase items without having to wait in long queues for a cashier. This not only saves time for the retailer but also makes customers happy by providing them with a hassle-free checkout experience.</p>
                    
                </div>
            </div>
        </div>  
    </div>
</section>