<!-- Features Start -->
<section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">Our <span class="text-warning">Features</span></h3>
                    <!-- <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p> -->
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/warranty-management.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-laptop-mac"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Warranty/Maintenance Management</h5>
                    <p class="text-muted mb-3 f-15">Save time and money by using the paperless guarantee and warranty feature of iCeipt. It is an all-in-one solution for warranty validation from beginning to end. It uses an IoT platform with a data-oriented paradigm. It gives brands paperless warranty management. It assists in preventing false warranty claims, which benefits brands.</p>
                    <a href="#" class="f-16 text-primary">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">ERP</h5>
                    <p class="text-muted mb-3 f-15">Enterprise resource planning (ERP) refers to a type of software that organizations use to manage day-to-day business activities such as accounting, procurement, project management, risk management and compliance, and supply chain operations.</p>
                    <a href="#" class="f-16 text-primary">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/erp.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/gst.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">GST</h5>
                    <p class="text-muted mb-3 f-15">Forget about worrying about filing your GST returns! Give us the information, and our professionals will file your documents accurately for you. With GST returns and filing, ensure tax compliance.</p>
                    <a href="#" class="f-16 text-primary">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Scan And Pay</h5>
                    <p class="text-muted mb-3 f-15">Using iCeipt's scan and pay function, you may give customers a convenient payment choice. Users of the Scan and Pay function can pay businesses directly by just using their mobile device to scan the QR code of the business.</p>
                    <a href="#" class="f-16 text-primary">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/scan-and-pay.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-5" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/employee-management.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Employee Management</h5>
                    <p class="text-muted mb-3 f-15">Use role-based access control to manage your personnel. RBAC guarantees that employees only have access to the information they require to do their duties and stops them from obtaining information that is irrelevant to them.</p>
                    <a href="#" class="f-16 text-primary">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Self-Checkout</h5>
                    <p class="text-muted mb-3 f-15">Self-check-out (SCO) systems are automated kiosks where customers can scan items themselves without assistance from store staff. These systems are also referred to as assisted checkouts or self-service checkouts. With self-checkouts, shoppers simply pick out items from shelves and place them into carts.</p>
                    <a href="#" class="f-16 text-primary">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0" style="background: url(assets/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="assets/images/features/self-checkout.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features End -->

<!-- Counter Start -->
<section class="section counter-bg" style="background: url(assets/images/counter-bg-1.jpg) center center">
    <div class="bg-overlay op-75"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h2 class="font-weight-normal text-white mb-2">We've Completed</h2>
                    <h5 class="font-weight-normal text-white-70">More Than 1000+ Work Successfully</h5>
                </div>
            </div>
        </div>
        <div class="row" id="counter">
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-like2 counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" [CountTo]="620" [from]="0" [duration]="1"></span>+</h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Successful Project</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-light counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" [CountTo]="350" [from]="0"
                        [duration]="1"></span>+</h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Project Ideas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-smile counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" [CountTo]="100" [from]="0"
                        [duration]="1"></span>+</h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Satisfied Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-star counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" [CountTo]="590" [from]="0"
                        [duration]="1"></span></h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Award Win</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter End -->